<template>
  <ul class="menu-nav">
    <!-- <router-link
      to="/trang-chu/"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-icon flaticon2-user-outline-symbol"></i>
          <span class="menu-text">Danh Mục</span>
        </a>
      </li>
    </router-link> -->
    
    <router-link
      to="/trang-chu"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-bullet flaticon2-menu-4 mr-3"> </i>
          <span class="menu-text">Danh Mục</span>
        </a>
      </li>
    </router-link>
    <router-link
      to="/cai-dat"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-bullet flaticon2-menu-4 mr-3"> </i>
          <span class="menu-text">Cài đặt trang</span>
        </a>
      </li>
    </router-link>
    <!-- <li
      aria-haspopup="true"
      data-menu-toggle="hover"
      class="menu-item menu-item-submenu"
      v-bind:class="{
        'menu-item-open': hasActiveChildren('/vue-bootstrap/nav')
      }"
    >
      <a class="menu-link menu-toggle">
        <i class="menu-bullet flaticon2-menu-4 mr-3"> </i>
        <span class="menu-text">Danh Mục</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="menu-submenu">
        <span class="menu-arrow"></span>
        <ul class="menu-subnav">
          <li aria-haspopup="true" class="menu-item menu-item-parent">
            <span class="menu-link">
              <span class="menu-text"></span>
            </span>
          </li>

          <router-link
            to="/trang-chu"
            v-slot="{ href, navigate, isActive, isExactActive }"
          >
            <li
              aria-haspopup="true"
              data-menu-toggle="hover"
              class="menu-item"
              :class="[
                isActive && 'menu-item-active',
                isExactActive && 'menu-item-active'
              ]"
            >
              <a :href="href" class="menu-link" @click="navigate">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Danh Mục Cha</span>
              </a>
            </li>
          </router-link>

          <router-link
            to="/danh-muc-con"
            v-slot="{ href, navigate, isActive, isExactActive }"
          >
            <li
              aria-haspopup="true"
              data-menu-toggle="hover"
              class="menu-item"
              :class="[
                isActive && 'menu-item-active',
                isExactActive && 'menu-item-active'
              ]"
            >
              <a :href="href" class="menu-link" @click="navigate">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Danh Mục Con</span>
              </a>
            </li>
          </router-link>
        </ul>
      </div>
    </li> -->
    <!-- <router-link
      to="/khu-vuc"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-bullet flaticon2-menu-4 mr-3"> </i>
          <span class="menu-text">Khu Vực</span>
        </a>
      </li>
    </router-link> -->
    <!-- <router-link
      to="/tai-khoan"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-bullet flaticon2-menu-4 mr-3"> </i>
          <span class="menu-text">Tài khoản</span>
        </a>
      </li>
    </router-link> -->
    <router-link
      to="/bai-viet"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-bullet flaticon2-menu-4 mr-3"> </i>
          <span class="menu-text">Bài viết</span>
        </a>
      </li>
    </router-link>
    <router-link
      to="/the-tag"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-bullet flaticon2-menu-4 mr-3"> </i>
          <span class="menu-text">Thẻ Tag</span>
        </a>
      </li>
    </router-link>
    <router-link
      to="/dat-lich"
      v-slot="{ href, navigate, isActive, isExactActive }"
    >
      <li
        aria-haspopup="true"
        data-menu-toggle="hover"
        class="menu-item"
        :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
      >
        <a :href="href" class="menu-link" @click="navigate">
          <i class="menu-bullet flaticon2-menu-4 mr-3"> </i>
          <span class="menu-text">Đặt lịch</span>
        </a>
      </li>
    </router-link>
  </ul>
</template>

<script>
import SavaDataUtil from "../../../utils/saveDataToLocal";
export default {
  name: "KTMenu",
  data() {
    return {
      listFeature: []
    };
  },
  created() {
    this.getListFeature();
  },
  methods: {
    hasActiveChildren(match) {
      return this.$route["path"].indexOf(match) !== -1;
    },
    getListFeature() {
      this.listFeature = SavaDataUtil.getData("listFeature");
    },
    checkPermission(condition) {
      if (this.listFeature.indexOf(condition) > -1) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>
