<template>
  <div>
    <b-alert
      show
      variant="light"
      class="alert alert-custom alert-white alert-shadow fade show gutter-b"
    >
      <div class="alert-icon">
        <span class="svg-icon svg-icon-lg">
          <inline-svg src="media/svg/icons/Tools/Compass.svg" />
        </span>
      </div>
      <div class="alert-text">
        <b>Chỉnh sửa cài đặt website</b>
      </div>
    </b-alert>

    <div class="row">
      <div class="col-md-12">
        <KTCodePreview v-bind:title="'Introduction to forms and controls'">
          <template v-slot:preview>
            <div>
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-row>
                  <b-col cols="6">
                    <b-form-group id="input-group-1">
                      <label><b>Số điện thoại:</b></label>

                      <b-form-input
                        v-model="form.phoneNumber"
                        required
                        placeholder="Vui lòng nhập số điện thoại"
                      ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-7">
                      <label for="input-7"><b>Vui lòng nhập địa chỉ:</b></label>
                      <b-form-input
                        v-model="form.address"
                        placeholder="Vui lòng nhập địa chỉ"
                      ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-9">
                      <label for="input-9"><b>Email:</b></label>
                      <b-form-input
                        v-model="form.email"
                        placeholder="Vui lòng nhập email"
                      ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-9">
                      <label for="input-9"><b>Đường dẫn facebook:</b></label>
                      <b-form-input
                        v-model="form.linkFB"
                        placeholder="Vui lòng nhập đường dẫn facebook"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>

                  <b-col cols="6">
                    <b-form-group id="input-group-1">
                      <label><b>Đường dẫn zalo:</b></label>

                      <b-form-input
                        v-model="form.linkZalo"
                        placeholder="Vui lòng nhập đường dẫn zalo"
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group id="input-group-1">
                      <label><b>Đường dẫn message:</b></label>

                      <b-form-input
                        v-model="form.linkMessage"
                        placeholder="Vui lòng nhập đường dẫn zalo"
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group id="input-group-1">
                      <label><b>Đường dẫn google:</b></label>

                      <b-form-input
                        v-model="form.linkGoogle"
                        placeholder="Vui lòng nhập đường dẫn zalo"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-form-group id="input-group-4" class="col-4 p-0">
                  <label for="input-4"
                    ><b>Nội dung:</b>
                    <i
                      class="fas fa-plus-circle fa-md text-primary pointer pl-2"
                      @click="showModal('modal-timer')"
                    ></i
                  ></label>
                  <div>
                    <b-table hover bordered :items="timers" :fields="fields">
                      <template v-slot:cell(actions)="row">
                        <i
                          class="fa fa-edit fa-sm text-warning pointer"
                          @click="showModal('modal-timer', row.item.id)"
                        ></i>
                        &nbsp;
                        <i
                          class="fa fa-trash  fa-sm text-danger pointer"
                          @click="removeTime(row.item.id)"
                        ></i>
                      </template>
                    </b-table>
                  </div>
                </b-form-group>
                <div style="margin-top:5%">
                  <b-button type="submit" variant="primary">Lưu</b-button>
                  <b-button class="ml-2" type="reset" variant="danger">
                    Reset
                  </b-button>
                  <b-button class="ml-2" type="reset" variant="success">
                    Trở về
                  </b-button>
                </div>
              </b-form>
            </div>
            <b-modal
              id="modal-timer"
              title="Thêm ngày giờ làm việc"
              hide-footer
              ref="modal-timer"
            >
              <b-col cols="12">
                <b-row>
                  <b-form-group id="input-group-1">
                    <b-form-select v-model="fromDate" class="mb-3 " size="sm">
                      <!-- This slot appears above the options from 'options' prop -->
                      <template #first>
                        <b-form-select-option :value="null" disabled
                          >Từ thứ</b-form-select-option
                        >
                      </template>

                      <!-- These options will appear after the ones from 'options' prop -->
                      <b-form-select-option value="2"
                        >Thứ 2</b-form-select-option
                      >
                      <b-form-select-option value="3"
                        >Thứ 3</b-form-select-option
                      >
                      <b-form-select-option value="4"
                        >Thứ 4</b-form-select-option
                      >
                      <b-form-select-option value="5"
                        >Thứ 5</b-form-select-option
                      >
                      <b-form-select-option value="6"
                        >Thứ 6</b-form-select-option
                      >
                      <b-form-select-option value="7"
                        >Thứ 7</b-form-select-option
                      >
                      <b-form-select-option value="8"
                        >Chủ nhật</b-form-select-option
                      >
                    </b-form-select>
                  </b-form-group>
                  <b-form-group id="input-group-1" class="m-2">
                    <b>Đến</b>
                  </b-form-group>

                  <b-form-group id="input-group-1">
                    <b-form-select v-model="toDate" class="mb-3" size="sm">
                      <!-- This slot appears above the options from 'options' prop -->
                      <template #first>
                        <b-form-select-option :value="null" disabled
                          >Đến thứ</b-form-select-option
                        >
                      </template>

                      <!-- These options will appear after the ones from 'options' prop -->
                      <b-form-select-option value="2"
                        >Thứ 2</b-form-select-option
                      >
                      <b-form-select-option value="3"
                        >Thứ 3</b-form-select-option
                      >
                      <b-form-select-option value="4"
                        >Thứ 4</b-form-select-option
                      >
                      <b-form-select-option value="5"
                        >Thứ 5</b-form-select-option
                      >
                      <b-form-select-option value="6"
                        >Thứ 6</b-form-select-option
                      >
                      <b-form-select-option value="7"
                        >Thứ 7</b-form-select-option
                      >
                      <b-form-select-option value="8"
                        >Chủ nhật</b-form-select-option
                      >
                    </b-form-select>
                  </b-form-group>
                  <b-form-group id="input-group-1" class="m-2">
                    <b>Giờ</b>
                  </b-form-group>
                  <b-form-group id="input-group-1">
                    <b-form-input
                      v-model="time"
                      placeholder="Giờ"
                      size="sm"
                      class="ml-1"
                    ></b-form-input>
                  </b-form-group>
                </b-row>
              </b-col>
              <b-button
                class="mt-3 mr-2"
                variant="primary"
                @click="addTime"
                size="sm"
                v-show="create"
                >Thêm giờ làm việc</b-button
              >
              <b-button
                class="mt-3 mr-2"
                variant="primary"
                @click="updateTime"
                size="sm"
                v-show="!create"
                >Sửa giờ làm việc</b-button
              >
              <b-button
                class="mt-3"
                size="sm"
                @click="$bvModal.hide('modal-timer')"
                >Trở về</b-button
              >
            </b-modal>
          </template>
        </KTCodePreview>
      </div>
    </div>
  </div>
</template>

<script>
import KTCodePreview from "@/view/content/CodePreview.vue";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import axios from "axios";
import Swal from "sweetalert2";
import _ from "lodash";
import { v4 as uuidv4 } from "uuid";
export default {
  data() {
    return {
      Toast: "",
      form: {
        phoneNumber: "",
        address: "",
        email: "",
        linkFB: "",
        linkZalo: "",
        linkMessage: "",
        linkGoogle: "",
        timer: []
      },
      fields: [
        {
          key: "day",
          label: "Mở cửa lúc"
        },
        {
          key: "time",
          label: "Giờ"
        },
        { key: "actions", label: "Actions", class: "text-center" }
      ],
      timers: [],
      fromDate: null,
      toDate: null,
      show: true,
      time: "",
      create: true,
      timeSelected: null
    };
  },
  components: {
    KTCodePreview
  },
  created() {
    this.loadSetting();
    this.Toast = this.showMixinSweetAlert();
  },
  methods: {
    showMixinSweetAlert() {
      return Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: toast => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        }
      });
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.form.timer = JSON.stringify(this.timers);
      this.createSetting(this.form);
      // console.log(this.content);
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      for (const key in this.form) {
        this.form[key] = "";
      }
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    showModal(name, param) {
      if (param) {
        let index = this.timers.findIndex(x => x.id === param);
        if (index > -1) {
          this.timeSelected = this.timers[index].id;
          this.fromDate = this.timers[index].fromDate;
          this.toDate = this.timers[index].toDate;
          this.time = this.timers[index].time;
          this.create = false;
        }
      }
      this.$refs[name].show();
    },
    createSetting(data) {
      let url = process.env.VUE_APP_BASE_URL + "settings";
      axios.put(url, data).then(rs => {
        if (rs.data.status === true) {
          this.Toast.fire({
            icon: "success",
            title: "Thêm mới thành công"
          });
        } else {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
        }
      });
    },
    loadSetting() {
      let url = process.env.VUE_APP_BASE_URL + "settings";
      axios.get(url).then(rs => {
        if (rs.data.status) {
          console.log(rs.data.data);
          this.form = rs.data.data[0];
          if (this.form.timer) {
            this.form.timer = JSON.parse(this.form.timer);
            console.log(this.form.timer);
            this.timers = this.form.timer;
          } else {
            this.form.timer = [];
          }
        }
      });
    },
    addTime() {
      let fromDateText = this.fromDate ? "Thứ " + this.fromDate : null;
      let toDateText = this.toDate ? "Thứ " + this.toDate : null;
      let day = "";
      if (fromDateText) {
        day = fromDateText;
      }
      if (toDateText) {
        day = toDateText;
      }
      if (toDateText && fromDateText) {
        if (toDateText === fromDateText) {
          day = fromDateText;
        } else {
          day = fromDateText + " - " + toDateText;
        }
      }
      let data = {
        id: uuidv4(),
        fromDate: this.fromDate,
        toDate: this.toDate,
        day: day,
        time: this.time
      };

      this.timers.push(data);

      this.fromDate = null;
      this.toDate = null;
      this.time = "";
    },
    updateTime() {
      if (this.timers.length > 0) {
        let fromDateText = this.fromDate ? "Thứ " + this.fromDate : null;
        let toDateText = this.toDate ? "Thứ " + this.toDate : null;
        let day = "";
        if (fromDateText) {
          day = fromDateText;
        }
        if (toDateText) {
          day = toDateText;
        }
        if (toDateText && fromDateText) {
          if (toDateText === fromDateText) {
            day = fromDateText;
          } else {
            day = fromDateText + " - " + toDateText;
          }
        }
        let index = this.timers.findIndex(x => x.id === this.timeSelected);
        if (index > -1) {
          this.timers[index].fromDate = this.fromDate;
          this.timers[index].toDate = this.toDate;
          this.timers[index].time = this.time;
          this.timers[index].day = day;
        }
        this.create = true;
        this.$refs["modal-timer"].hide();
        this.fromDate = null;
        this.toDate = null;
        this.time = "";
        this.timeSelected = null;
      }
    },
    removeTime(id) {
      if (this.timers.length > 0) {
        let index = this.timers.findIndex(x => x.id === id);
        if (index > -1) {
          this.timers.splice(index, 1);
        }
      }
    },
    sanitizeTitle(title) {
      var slug = "";
      // Change to lower case
      var titleLower = title.toLowerCase();
      // Letter "e"
      slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
      // Letter "a"
      slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, "a");
      // Letter "i"
      slug = slug.replace(/ì|í|ị|ỉ|ĩ/gi, "i");
      // Letter "y"
      slug = slug.replace(/ỳ|ý|ỵ|ỷ|ỹ/gi, "y");
      // Letter "o"
      slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, "o");
      // Letter "u"
      slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
      // Letter "d"
      slug = slug.replace(/đ/gi, "d");
      // Trim the last whitespace
      slug = slug.replace(/\s*$/g, "");
      // Change whitespace to "-"
      slug = slug.trim();
      slug = slug.replace(/\s+/g, "-");

      return slug;
    },
    changeSlug: _.debounce(function() {
      this.form.slug = this.sanitizeTitle(this.form.title);
    }, 500)
  },
  computed: {
    editor() {
      return this.$refs.myQuillEditor.quill;
    }
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Vue Bootstrap", route: "alert" },
      { title: "Form" }
    ]);
    // console.log("this is current quill instance object", this.editor);
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.ql-container {
  min-height: inherit;
}
.tags-input-wrapper-default {
  padding-left: 1rem !important;
  color: #c6c6d1;
}
.typeahead-badges {
  font-size: 1.5em;
}
.tags-input span {
  font-size: 1em;
}
.pointer {
  cursor: pointer;
}
</style>
