<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <KTCodePreview v-bind:title="'Danh sách tài khoản'">
          <template v-slot:preview>
            <div class="col-md-12 mb-5">
              <b-form>
                <div class="row">
                  <b-input
                    placeholder="Tìm kiếm"
                    v-model="search"
                    append-icon="search"
                    single-line
                    hide-details
                    class="col-md-4"
                    @keyup="fetchData"
                    v-on:keyup.enter="fetchData"
                  ></b-input>
                  <div class="col-md-8">
                    <div class="d-flex justify-content-end">
                      <router-link to="/users/add-user" v-show="checkPermission('USER_INSERT')">
                        <button type="button" class="btn btn-primary btn-sm">Tạo tài khoản</button>
                      </router-link>
                    </div>
                  </div>
                </div>
              </b-form>
            </div>
            <b-table :items="items" :fields="fields" class="table-bordered table-hover col-md-12">
              <template v-slot:cell(stt)="row">
                <div>
                  <span v-text="row.item.stt" class="d-flex justify-content-center"></span>
                </div>
              </template>
              <template v-slot:cell(status)="row">
                <span
                  v-if="checkStatus(row.item)"
                  v-text="row.item.status"
                  class="label font-weight-bold label-lg label-light-success label-inline"
                ></span>
                <span
                  v-else
                  v-text="row.item.status"
                  class="label font-weight-bold label-lg label-light-danger label-inline"
                ></span>
              </template>
              <template v-slot:cell(actions)="row">
                <div class="d-flex justify-content-center">
                  <v-icon
                    small
                    class="mr-2 text-primary"
                    @click="showRestorePasswordAlert(row.item)"
                    v-b-tooltip
                    title="Đổi mật khẩu"
                  >mdi-backup-restore</v-icon>
                  <v-icon
                    small
                    class="mr-2 text-primary"
                    @click="editItem(row.item)"
                    v-if="checkViewOnly()"
                    v-b-tooltip
                    title="Chi tiết"
                  >mdi-eye</v-icon>
                  <v-icon
                    small
                    class="mr-2 text-primary"
                    @click="editItem(row.item)"
                    v-if="!checkViewOnly()"
                    v-b-tooltip
                    title="Cập nhật"
                  >mdi-pencil</v-icon>
                  <v-icon
                    small
                    class="mr-2 text-danger"
                    @click="showDeleteAlert(row.item)"
                    v-show="checkPermission('USER_DELETE')"
                    v-b-tooltip
                    title="Xóa"
                  >mdi-delete</v-icon>
                </div>
              </template>
            </b-table>
            <div class="d-flex justify-content-end">
              <b-pagination-nav
                :link-gen="linkGen"
                :number-of-pages="numberOfPage"
                use-router
                @change="fetchData"
              ></b-pagination-nav>
            </div>
          </template>
        </KTCodePreview>
      </div>
    </div>
  </div>
</template>
<style>
.sttClass {
  width: 20px;
}
</style>
<script>
import KTCodePreview from "@/view/content/CodePreview.vue";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import ApiService from "@/core/services/api.service";
import Swal from "sweetalert2";
import localData from "../../../utils/saveDataToLocal";

export default {
  data() {
    return {
      search: "",
      fields: [
        {
          key: "stt",
          label: "STT",
          sortable: false,
          tdClass: "sttClass"
        },
        {
          key: "username",
          label: "Tên tài khoản",
          sortable: false
        },
        {
          key: "employee",
          label: "Nhân viên",
          sortable: false
        },
        {
          key: "role",
          label: "Quyền",
          sortable: false
        },
        {
          key: "status",
          label: "Trạng thái",
          sortable: false
        },
        { key: "actions", label: "" }
      ],
      items: [],
      linkGen: pageNum => {
        return pageNum === 1 ? "?" : `?page=${pageNum}`;
      },
      page: 1,
      isActive: 1,
      numberOfPage: null,
      count: 1
    };
  },
  components: {
    KTCodePreview
  },
  created() {
    this.fetchData();
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Tài khoản", route: "users" },
      { title: "Danh sách tài khoản" }
    ]);
  },
  methods: {
    start() {
      this.$Progress.start();
    },
    finish() {
      this.$Progress.finish();
    },
    fail() {
      this.$Progress.fail();
    },
    fetchData: async function() {
      this.items = [];
      this.page = this.$route.query.page;
      if (!this.page) {
        this.page = 1;
      }
      let param = null;
      if (this.search) {
        param = {
          page: this.page,
          limit: 10,
          name: this.search
        };
      } else {
        param = {
          page: this.page,
          limit: 10
        };
      }
      let paramQuery = {
        params: param
      };
      this.start();
      ApiService.setHeader();
      ApiService.query("user", paramQuery).then(({ data }) => {
        if (this.page === 1) {
          this.count = 1;
        } else {
          this.count = 1 + (this.page - 1) * 10;
        }
        this.numberOfPage = data.data.total_page;
        data.data.list_user.forEach(element => {
          let status = "Hoạt động";
          if (element.isActive === 0) {
            status = "Đang khóa";
            this.isActive = 0;
          }
          let item = {
            id: element.id,
            stt: this.count,
            username: element.username,
            employee: element.employee,
            role: element.role,
            status: status
          };
          this.items.push(item);
          this.count++;
        });
        setTimeout(() => {
          // finish progress bar
          this.finish();
        }, 1000);
      });
    },
    editItem: function(item) {
      this.$router.push({
        path: "users/update-user",
        query: { id: item.id }
      });
    },
    deleteItem: async function(item) {
      let id = item.id;
      ApiService.setHeader();
      ApiService.post(`user/delete/${id}`).then(({ data }) => {
        if (data.status === 1) {
          this.makeToastSuccess(data.message);
          this.fetchData();
        } else {
          this.makeToastFaile(data.message);
        }
      });
    },
    showDeleteAlert: function(item) {
      Swal.fire({
        title: "Xóa tài khoản!",
        text: "Bạn có chắc muốn xóa tài khoản này không ?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Xóa",
        cancelButtonText: "Hủy",
        reverseButtons: true,
        showClass: {
          popup: "animate__animated animate__fadeInDown"
        },
        hideClass: {
          popup: "animate__animated animate__fadeOutUp"
        }
      }).then(result => {
        if (result.value) {
          this.deleteItem(item);
        }
      });
    },
    makeToastSuccess(message) {
      this.$bvToast.toast(message, {
        title: `Thông báo`,
        variant: "success",
        solid: true
      });
    },
    makeToastFaile(message) {
      this.$bvToast.toast(message, {
        title: `Thông báo`,
        variant: "danger",
        solid: true
      });
    },
    restorePassword: async function(item) {
      let id = item.id;
      ApiService.setHeader();
      ApiService.post(`user/password/restore/${id}`).then(({ data }) => {
        if (data.status === 1) {
          this.makeToastSuccess(data.message);
          this.fetchData();
        } else {
          this.makeToastFaile(data.message);
        }
      });
    },
    showRestorePasswordAlert: function(item) {
      Swal.fire({
        title: "Khôi phục mật khẩu!",
        text: "Bạn có chắc muốn khôi phục mật khẩu cho tài khoản này không ?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Có",
        cancelButtonText: "Hủy",
        reverseButtons: true,
        showClass: {
          popup: "animate__animated animate__fadeInDown"
        },
        hideClass: {
          popup: "animate__animated animate__fadeOutUp"
        }
      }).then(result => {
        if (result.value) {
          this.restorePassword(item);
        }
      });
    },
    checkPermission: function(condition) {
      return localData.checkPermission(condition);
    },
    checkStatus: function(item) {
      if (item.status === "Hoạt động") {
        return true;
      } else {
        return false;
      }
    },
    checkViewOnly: function() {
      let count = 0;
      if (localData.checkPermission("USER_VIEW")) {
        count++;
      }
      if (localData.checkPermission("USER_UPDATE")) {
        count++;
      }
      if (count === 1) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>
