<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <KTCodePreview v-bind:title="'Cập nhật tài khoản'">
          <template v-slot:preview>
            <p class="font-weight-bold">
              <strong>Thông tin nhân sự</strong>
            </p>
            <br />
            <v-form ref="form" v-model="valid" lazy-validation>
              <div class="col-md-12 mb-5">
                <div class="row">
                  <div class="col-md-3">
                    <b-row class="my-1">
                      <label for="input-small">Tên tài khoản:</label>
                    </b-row>
                    <b-row class="my-1">
                      <b-input
                        id="input-small"
                        size="sm"
                        placeholder
                        v-model="$v.form.username.$model"
                        :state="validateState('username')"
                        append-icon="search"
                        single-line
                        hide-details
                        class="col-md-12 form-control-sm"
                        aria-describedby="input-live-help input-live-feedback"
                        :disabled="true"
                      ></b-input>
                      <b-form-invalid-feedback
                        id="input-live-feedback"
                      >Nhập tên tài khoản với ít nhất 3 ký tự!</b-form-invalid-feedback>
                    </b-row>
                  </div>
                  <div class="col-md-3">
                    <b-row class="my-1">
                      <b-col>
                        <label>Nhân sự</label>
                      </b-col>
                    </b-row>
                    <b-row class="my-1">
                      <b-col>
                        <b-form-input
                          list="input-list"
                          id="input-with-list"
                          v-model="selectedEmployee"
                          @input="fetchDataEmployee"
                          @change="onChange"
                          placeholder="Chọn nhân viên"
                        ></b-form-input>
                        <b-form-datalist id="input-list">
                          <option
                            v-for="item in listEmployee"
                            :key="item.id"
                            :value="item.name"
                            :class="item.id"
                          ></option>
                        </b-form-datalist>
                        <p v-show="false">{{ selectedClass }}</p>
                        <input type="text" v-model="selectedClass" v-show="false" />
                      </b-col>
                    </b-row>
                  </div>
                  <div class="col-md-3">
                    <b-row class="my-1">
                      <b-col>
                        <label>Quyền</label>
                      </b-col>
                    </b-row>
                    <b-row class="my-1">
                      <b-col>
                        <b-form-select
                          id="input-2"
                          v-model="selectedRole"
                          :options="listRole"
                          required
                          value-field="id"
                          text-field="name"
                          disabled-field="notEnabled"
                        >
                          <template v-slot:first>
                            <b-form-select-option :value="null" disabled>-- Chọn quyền --</b-form-select-option>
                          </template>
                        </b-form-select>
                      </b-col>
                    </b-row>
                  </div>
                  <div class="col-md-3">
                    <b-row class="my-1">
                      <b-col>
                        <label>Trạng thái</label>
                      </b-col>
                    </b-row>
                    <b-row class="my-1">
                      <b-col>
                        <b-form-select
                          id="input-3"
                          v-model="selectedStatus"
                          :options="listStatus"
                          required
                          value-field="id"
                          text-field="name"
                          disabled-field="notEnabled"
                        >
                          <template v-slot:first>
                            <b-form-select-option :value="null" disabled>-- Chọn trạng thái --</b-form-select-option>
                          </template>
                        </b-form-select>
                      </b-col>
                    </b-row>
                  </div>
                </div>
              </div>
              <b-form-group>
                <b-form-checkbox-group
                  id="checkbox-group-1"
                  v-model="listUserPermission"
                  :options="optionUserPermission"
                  name="flavour-1"
                ></b-form-checkbox-group>
              </b-form-group>
              <br />
              <button
                type="button"
                class="btn btn-primary"
                @click="updateUser"
                v-if="checkPermission('USER_UPDATE')"
              >Lưu</button>
              <router-link :to="'/users'">
                <b-button class="btn btn-primary ml-2" type="reset" variant="danger">Hủy</b-button>
              </router-link>
            </v-form>
          </template>
        </KTCodePreview>
      </div>
    </div>
  </div>
</template>
<style>
.center-label label {
  margin-bottom: 0px;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
</style>
<script>
import KTCodePreview from "@/view/content/CodePreview.vue";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import { validationMixin } from "vuelidate";
import { minLength, required } from "vuelidate/lib/validators";
import ApiService from "@/core/services/api.service";
import localData from "../../../utils/saveDataToLocal";

export default {
  mixins: [validationMixin],
  data() {
    return {
      valid: true,
      form: {
        username: "",
        password: ""
      },
      selectedEmployee: "",
      listEmployee: [],
      selectedStatus: null,
      listStatus: [
        { id: 1, name: "Hoạt động" },
        { id: 2, name: "Khóa" }
      ],
      selectedRole: null,
      listRole: [],
      userId: 0,
      selectedId: null
    };
  },
  validations: {
    form: {
      username: {
        required,
        minLength: minLength(3)
      },
      password: {
        required,
        minLength: minLength(6)
      }
    }
  },
  components: {
    KTCodePreview
  },
  computed: {
    selectedClass() {
      const employee = this.listEmployee.find(
        e => e.name === this.selectedEmployee
      );
      if (employee) {
        return employee.id;
      } else {
        return null;
      }
    }
  },
  created() {
    this.fetchData();
    this.fetchDataEmployee();
  },
  mounted() {
    if (this.checkPermission("USER_UPDATE")) {
      this.$store.dispatch(SET_BREADCRUMB, [
        { title: "Tài khoản", route: "/users" },
        { title: "Danh sách tài khoản", route: "/users" },
        { title: "Cập nhật tài khoản" }
      ]);
    } else {
      this.$store.dispatch(SET_BREADCRUMB, [
        { title: "Tài khoản", route: "users" },
        { title: "Danh sách tài khoản", route: "users" },
        { title: "Thông tin tài khoản" }
      ]);
    }
    this.userId = this.$route.query.id;
    this.getUserById();
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    updateUser: async function() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      const username = this.$v.form.username.$model;
      // const password = this.$v.form.password.$model;
      const employeeId = this.selectedClass;
      const roleId = this.selectedRole;
      let isActive = false;
      if (this.selectedStatus === 1) {
        isActive = true;
      }
      let data = {
        id: this.userId,
        username: username,
        employeeId: employeeId,
        roleId: roleId,
        isActive: isActive
      };
      ApiService.setHeader();
      ApiService.post("user/update", data)
        .then(({ data }) => {
          if (data.status === 1) {
            this.makeToastSuccess(data.message);
          } else {
            this.makeToastFaile(data.message);
          }
        })
        .catch(({ response }) => {
          this.makeToastFaile(response.$error);
        });
    },
    fetchData: async function() {
      this.listRole = [];
      let param = {
        page: 1,
        limit: 10
      };
      let paramQuery = {
        params: param
      };
      ApiService.setHeader();
      ApiService.query("role", paramQuery).then(({ data }) => {
        data.data.list_role.forEach(element => {
          let item = {
            id: element.id,
            name: element.name
          };
          this.listRole.push(item);
        });
      });
    },
    getUserById: function() {
      ApiService.setHeader();
      ApiService.get(`user/${this.userId}`)
        .then(({ data }) => {
          if (data.status === 1) {
            this.form.username = data.data.username;
            if (data.data.isActive === false) {
              this.selectedStatus = 2;
            } else {
              this.selectedStatus = 1;
            }
            this.selectedId = data.data.employeeId;
            this.selectedEmployee = data.data.employeeName;
            this.selectedRole = data.data.roleId;
          } else {
            this.makeToastFaile("Tải dữ liệu thất bại!");
          }
        })
        .catch(({ response }) => {
          this.makeToastFaile(response.$error);
        });
    },
    fetchDataEmployee: async function() {
      this.listEmployee = [];
      //  init params
      let param = {
        page: 1,
        pageSize: 5,
        fullName: this.selectedEmployee
      };

      let paramQuery = {
        params: {
          param
        }
      };
      ApiService.setHeader();
      ApiService.query("employees", paramQuery).then(response => {
        this.totalPages = response.data.totalPages;
        this.totalItems = response.data.totalItems;
        response.data.employees.forEach(item => {
          let employee = {
            id: item.id,
            name: item.fullName
          };
          this.listEmployee.push(employee);
        });
      });
    },
    checkPermission: function(condition) {
      return localData.checkPermission(condition);
    },
    makeToastSuccess(message) {
      this.$bvToast.toast(message, {
        title: `Thông báo`,
        variant: "success",
        solid: true
      });
    },
    makeToastFaile(message) {
      this.$bvToast.toast(message, {
        title: `Thông báo`,
        variant: "danger",
        solid: true
      });
    }
  }
};
</script>
