<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <KTCodePreview v-bind:title="'Sản Phẩm'">
          <template v-slot:preview>
            <div class="col-md-12 mb-5">
              <!-- title -->
              <div class="row mb-4 px-4">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  @click="addItem()"
                >
                  Thêm Sản Phẩm
                </button>
              </div>

              <table
                class="table table-bordered table-vertical-center table-hover table-font-size"
              >
                <thead>
                  <tr>
                    <th scope="col" class="stt-col">STT</th>
                    <th scope="col" class="date-col">Tên Sản Phẩm</th>
                    <th scope="col" class="date-col">Danh Mục</th>
                    <th scope="col" class="date-col">Hình Ảnh</th>
                    <th scope="col" class="date-col">Đơn vị</th>
                    <th scope="col" class="date-col">SL/ĐV</th>
                    <th scope="col" class="date-col">Mô tả</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col"></th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(item, index) in listData" :key="index">
                    <td>
                      {{ index + 1 }}
                    </td>
                    <td v-bind:title="item.name">
                      {{ item.name }}
                    </td>
                    <td v-bind:title="item.categories.name">
                      {{ item.categories.name }}
                    </td>
                    <td>
                      <b-button
                        variant="warning"
                        size="sm"
                        class="p-1"
                        @click="showModalImage(item)"
                      >
                        <i class="flaticon2-image-file pl-2"></i
                      ></b-button>
                    </td>
                    <td v-bind:title="item.unit">
                      {{ item.unit }}
                    </td>
                    <td v-bind:title="item.quantityPerUnit">
                      {{ item.quantityPerUnit }}
                    </td>
                    <td v-bind:title="item.description">
                      {{ item.description }}
                    </td>
                    <td v-bind:title="item.createdAt">
                      {{ item.createdAt }}
                    </td>
                    <td v-if="item.isActived" title="Hoạt động">
                      <span class="badge badge-success">Đang bán</span>
                    </td>
                    <td v-else title="Ngưng hoạt động">
                      <span class="badge badge-danger">Ngừng bán</span>
                    </td>
                    <td>
                      <v-icon
                        small
                        class="mr-2 text-success"
                        @click="editItem(item.id)"
                        v-b-tooltip
                        title="Chỉnh sửa"
                        >mdi-pencil</v-icon
                      >
                      <v-icon
                        small
                        class="mr-2 text-danger"
                        @click="removeProduct(item.id)"
                        v-b-tooltip
                        title="Xoá "
                        >mdi-delete</v-icon
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </template>
        </KTCodePreview>
      </div>
    </div>
    <b-modal ref="my-modal" hide-footer v-bind:title="this.title">
      <v-form ref="form" lazy-validation>
        <div class="mb-4">
          <div class="row">
            <b-form-group
              id="input-group-1"
              label="Tên Sản Phẩm"
              label-for="input-1"
              class="col-md-12"
            >
              <b-form-input
                id="input-1-sm"
                v-model="Product.name"
                size="sm"
                type="name"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-1"
              label="Danh mục"
              label-for="input-1"
              class="col-md-12"
            >
              <b-form-select
                v-model="Product.cateId"
                :options="listCate"
                value-field="id"
                text-field="name"
                disabled-field="notEnabled"
              ></b-form-select>
            </b-form-group>
            <b-form-group
              id="input-group-1"
              label="Đơn vị"
              label-for="input-1"
              class="col-md-12"
            >
              <b-form-input
                id="input-1-sm"
                v-model="Product.unit"
                size="sm"
                type="name"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-1"
              label="Số lương/ Đơn vị"
              label-for="input-1"
              class="col-md-12"
            >
              <b-form-input
                id="input-1-sm"
                v-model="Product.quantityPerUnit"
                size="sm"
                type="name"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-1"
              label="Mô tả"
              label-for="input-1"
              class="col-md-12"
            >
              <b-form-textarea
                id="textarea"
                v-model="Product.description"
                placeholder="Mô tả thông tin"
                rows="3"
                max-rows="6"
              ></b-form-textarea>
            </b-form-group>
            <b-form-group label="Trạng thái" class="col-md-12">
              <b-form-radio-group
                id="radio-group-2"
                v-model="Product.isActived"
                name="radio-sub-component"
              >
                <b-form-radio name="some-radios" value="true"
                  >Đang bán</b-form-radio
                >
                <b-form-radio name="some-radios" value="false"
                  >Ngừng Bán</b-form-radio
                >
              </b-form-radio-group>
            </b-form-group>
          </div>
        </div>
        <div class="row">
          <b-button
            style="fontWeight: 600; width:100px"
            variant="primary"
            size="sm"
            @click="addProduct()"
            class="ml-3"
            v-show="create"
            ref="kt_login_signin_submit"
            >Thêm</b-button
          >
          <b-button
            style="fontWeight: 600; width:100px"
            variant="primary"
            size="sm"
            @click="updateProduct()"
            class="ml-3"
            v-show="update"
            ref="kt_login_signin_submit"
            >Sửa</b-button
          >
          <b-button
            style="margin-left: 10px; font-weight: 600; width:100px"
            variant="secondary"
            size="sm"
            @click="hideModal"
            >Hủy</b-button
          >
        </div>
      </v-form>
    </b-modal>
    <b-modal id="modal-image" f hide-footer button-size="sm">
      <template v-slot:modal-header>
        <div class="d-flex ">
          <h5 class="mr-3 pt-1 my-auto">
            Chỉnh sửa ảnh
          </h5>
          <b-button
            variant="primary"
            @click="openFile()"
            size="sm"
            class="mr-2"
          >
            <i class="flaticon2-plus"></i
          ></b-button>
          <b-button
            variant="warning"
            @click="submitFile()"
            size="sm"
            :disabled="imageInput === null"
            class="mr-2"
          >
            <i class="flaticon2-telegram-logo"></i
          ></b-button>
          <b-button
            variant="danger"
            @click="resetFile()"
            size="sm"
            :disabled="imageInput === null && srcImage === null"
          >
            <i class="flaticon2-rubbish-bin-delete-button"></i
          ></b-button>

          <b-form-file
            v-model="imageInput"
            ref="image-input"
            id="image-input"
            class="mb-2"
            accept="image/jpeg, image/png"
            style="display: none"
            v-on:change="handleFileUpload($event)"
          ></b-form-file>
        </div>
        <div class="d-flex flex-row-reverse">
          <a href="javascript:void(0);" @click="$bvModal.hide('modal-image')"
            ><i class="d-flex flaticon2-cross"></i
          ></a>
        </div>
      </template>

      <b-col class="mb-1">
        <b-img
          thumbnail
          fluid
          v-bind:src="srcImage"
          v-if="srcImage !== null"
        ></b-img>
        <div
          v-else
          class="d-flex justify-content-center align-items-center text-center"
          style="height:200px; border:2px dashed #eeecff"
        >
          <i class="flaticon2-file-2" style="font-size: 4rem"></i>
          <p class="text-center">&nbsp;&nbsp;Chưa có hình ảnh</p>
        </div>
      </b-col>
    </b-modal>
  </div>
</template>
<style>
.date-col {
  width: 13%;
}
.stt-col {
  width: 3%;
}
.quantity-col {
  width: 3%;
}
.customer-col {
  width: 14%;
}
.status-col {
  width: 10%;
}
.select {
  text-align-last: center;
}
</style>
<script>
import KTCodePreview from "@/view/content/CodePreview.vue";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
var moment = require("moment");
import axios from "axios";

export default {
  data() {
    return {
      Toast: "",
      listData: [],
      Product: {
        id: "",
        cateId: "",
        name: "",
        unit: "",
        quantityPerUnit: "",
        description: "",
        isActived: ""
      },
      listCate: [],
      title: "",
      create: false,
      update: false,
      imageInput: null,
      srcImage: null,
      sendImage: true
    };
  },
  components: {
    KTCodePreview
  },
  computed: {
    currentDateDisplay() {
      return moment(new Date()).format("YYYY-MM-DD");
    }
  },
  created() {
    this.Toast = this.showMixinSweetAlert();
    this.getProduct();
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: "Sản Phẩm" }]);
    this.$nextTick(() => {
      //không biêt hàm này làm gì
    });
  },
  methods: {
    showMixinSweetAlert() {
      return Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: toast => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        }
      });
    },
    getProduct() {
      let url = process.env.VUE_APP_BASE_URL + "products";
      axios.get(url).then(rs => {
        if (rs.data.status === 1) {
          this.listData = rs.data.data;
        }
      });
    },
    addItem() {
      this.Product = {
        id: "",
        cateId: "",
        name: "",
        image: "",
        unit: "",
        quantityPerUnit: "",
        description: "",
        isActived: ""
      };
      this.title = "Thêm mới Sản Phẩm";
      this.update = false;
      this.create = true;
      let url = process.env.VUE_APP_BASE_URL + "categories";
      axios.get(url).then(rs => {
        if (rs.data.status === 1) {
          this.listCate = rs.data.data.filter(
            x => x.isActived == true && x.parentId !== null
          );
          this.showModal();
        }
      });
    },
    editItem(id) {
      this.title = "Sửa Sản Phẩm";
      this.create = false;
      this.update = true;
      let url = process.env.VUE_APP_BASE_URL + "products";
      axios
        .get(url, {
          params: {
            id
          }
        })
        .then(rs => {
          if (rs.data.status === 1) {
            this.Product = rs.data.data[0];
            let url = process.env.VUE_APP_BASE_URL + "categories";
            axios.get(url).then(rs => {
              if (rs.data.status === 1) {
                this.listCate = rs.data.data.filter(
                  x => x.isActived == true && x.parentId !== null
                );
                this.showModal();
              }
            });
          }
        });
    },
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
      this.create = false;
      this.update = false;
    },
    addProduct() {
      let Product = {
        data: this.Product
      };
      let url = process.env.VUE_APP_BASE_URL + "products";
      axios.post(url, Product).then(rs => {
        if (rs.data.status === 1) {
          this.hideModal();
          this.getProduct();
          this.Toast.fire({
            icon: "success",
            title: "Thêm mới thành công"
          });
        } else {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
        }
      });
    },
    updateProduct() {
      let Product = {
        data: this.Product
      };
      let url = process.env.VUE_APP_BASE_URL + "products";
      axios.put(url, Product).then(rs => {
        if (rs.data.status === 1) {
          this.getProduct();
          this.Toast.fire({
            icon: "success",
            title: "Sửa thành công"
          });
        } else {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
        }
      });
    },
    removeProduct(id) {
      Swal.fire({
        title: "Bạn có chắc muốn xoá?",
        text: "Dữ liệu khi xoá sẽ không thể khôi phục!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Đồng ý",
        cancelsButtonText: "Huỷ"
      }).then(result => {
        if (result.value) {
          let url = process.env.VUE_APP_BASE_URL + "products/" + id;
          axios.delete(url).then(rs => {
            if (rs.data.status === 1) {
              this.getProduct();
              this.Toast.fire({
                icon: "success",
                title: "Xoá thành công"
              });
            } else {
              this.Toast.fire({
                icon: "error",
                title: "Có lỗi trong quá trình xử lý"
              });
            }
          });
        }
      });
    },
    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000)
      };
      this.options.push(tag);
      this.value.push(tag);
    },
    openFile() {
      document.getElementById("image-input").click();
    },
    handleFileUpload(e) {
      this.imageInput = e.target.files;
      this.sendImage = false;
      if (!this.imageInput.length) return;
      this.createImage(this.imageInput[0]);
    },
    createImage(file) {
      var reader = new FileReader();
      var vm = this;
      reader.onload = e => {
        vm.srcImage = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    submitFile() {
      let formData = new FormData();
      let file = this.imageInput;
      formData.append("id", this.Product.id);
      formData.append("table", "Product");
      formData.append("file", file);
      let url = process.env.VUE_APP_BASE_URL + "uploads";
      axios
        .post(url, formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(() => {
          this.sendImage = true;
          this.$refs["image-input"].reset();
          this.toastSuccess("Cập nhật", 1);
          this.getProduct();
        })
        .catch(() => {
          this.toastError();
        });
    },
    resetFile() {
      if (!this.sendImage) {
        this.$refs["image-input"].reset();
        this.srcImage = null;
      } else {
        Swal.fire({
          title: "Bạn có chắc muốn xoá?",
          text: "Dữ liệu khi xoá sẽ không thể khôi phục!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Đồng ý",
          cancelButtonText: "Huỷ"
        }).then(result => {
          if (result.value) {
            let url =
              process.env.VUE_APP_BASE_URL +
              "uploads/" +
              this.Product.id +
              "?table=Product";
            axios.delete(url).then(rs => {
              if (rs.data.status === 1) {
                this.getProduct();
                this.Toast.fire({
                  icon: "success",
                  title: "Xoá thành công"
                });
                this.$refs["image-input"].reset();
                this.srcImage = null;
                this.getProduct();
              } else {
                this.Toast.fire({
                  icon: "error",
                  title: "Có lỗi trong quá trình xử lý"
                });
              }
            });
          }
        });
      }
    },
    showModalImage(item) {
      this.Product = item;
      this.srcImage = item.image || null;
      this.$bvModal.show("modal-image");
    },
    toastSuccess(name, state) {
      if (state === 1) {
        state = "success";
      } else if (state === 0) {
        state = "error";
      } else if (state === 2) {
        state = "warning";
      } else if (state === 3) {
        state = "info";
      } else {
        state = "error";
      }
      this.Toast.fire({
        icon: state,
        title: name + " thành công"
      });
    },
    toastError() {
      this.Toast.fire({
        icon: "error",
        title: "Có lỗi trong quá trình xử lý"
      });
    }
  }
};
</script>
