<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <KTCodePreview v-bind:title="'Đặt lịch'">
          <template v-slot:preview>
            <div class="col-md-12 mb-5">
              <!-- title -->
              <div class="mb-2 align-middle">
                <button class="btn btn-primary btn-sm" @click="addItem()">
                  <i class="flaticon2-plus-1"></i>
                  Tạo mới
                </button>
              </div>
              <div
                class="search-area p-4"
                style="background-color:#ecf0f3; border-top-right-radius: 5px; border-top-left-radius: 5px;"
              >
                <div class="row">
                  <div class="search-text px-3">
                    <strong>Tìm Kiếm:</strong>
                  </div>
                  <b-form-group class="col-md-3">
                    <b-form-input
                      id="search-1"
                      v-model="search.name"
                      size="sm"
                      required
                      trim
                      placeholder="Tên, email, sđt"
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group class="col-md-3">
                    <b-form-datepicker
                      id="example-datepicker"
                      size="sm"
                      placeholder="Ngày"
                      v-model="search.date"
                      reset-button
                    ></b-form-datepicker>
                  </b-form-group>
                  <b-form-group class="col-md-3">
                    <b-form-select v-model="selectedSt" size="sm" id="select-1">
                      <b-form-select-option :value="null" class="select-default"
                        >Chọn trạng thái</b-form-select-option
                      >
                      <b-form-select-option value="1">Mới</b-form-select-option>
                      <b-form-select-option value="2"
                        >Đã liên hệ</b-form-select-option
                      >
                      <b-form-select-option value="3"
                        >Đã đến khám</b-form-select-option
                      >
                      <b-form-select-option value="4"
                        >Liên hệ lại</b-form-select-option
                      >
                      <b-form-select-option value="5">Huỷ</b-form-select-option>
                    </b-form-select>
                  </b-form-group>
                  <b-button
                    size="sm"
                    variant="success"
                    class="mr-2"
                    v-b-tooltip.hover
                    title="Tìm kiếm"
                    @click="searchAppointment"
                  >
                    <i class="flaticon2-search"></i>
                  </b-button>
                  <b-button
                    size="sm"
                    variant="primary"
                    class="mr-2"
                    v-b-tooltip.hover
                    title="Mặc định"
                    @click="refreshDefault"
                  >
                    <i class="flaticon2-reload flaticon2-sm"></i>
                  </b-button>

                  <b-dropdown
                    no-caret
                    size="sm"
                    id="dropdown-header"
                    variant="warning"
                    v-b-tooltip.hover
                    title="Hiển thị cột"
                    right
                  >
                    <template v-slot:button-content>
                      <i class="flaticon2-settings"></i>
                    </template>

                    <b-dropdown-header id="dropdown-header-label">
                      <strong>Cột hiển thị:</strong>
                    </b-dropdown-header>

                    <div class="dropdown-item bg-white text-body">
                      <b-form-checkbox-group
                        id="checkbox-group-1"
                        v-model="selShowTable"
                        :options="showTable"
                        name="flavour-1"
                        stacked
                      ></b-form-checkbox-group>
                      <!-- <b-form-checkbox id="checkbox-1" name="checkbox-1">
                        Tên Đặt lịch cha
                      </b-form-checkbox>
                      <b-form-checkbox id="checkbox-2" name="checkbox-2">
                        Đặt lịch con
                      </b-form-checkbox>
                      <b-form-checkbox id="checkbox-3" name="checkbox-3">
                        Ngày tạo
                      </b-form-checkbox>
                      <b-form-checkbox id="checkbox-4" name="checkbox-4">
                        Trạng thái
                      </b-form-checkbox> -->
                    </div>

                    <b-dropdown-divider></b-dropdown-divider>
                    <div class="col-md-12">
                      <b-button
                        block
                        variant="success"
                        size="sm"
                        @click="saveStateTable"
                        >Lưu</b-button
                      >
                      <b-button
                        block
                        variant="primary"
                        size="sm"
                        @click="defaultStateTable"
                        >Mặc định</b-button
                      >
                    </div>
                  </b-dropdown>
                </div>
              </div>
              <table
                class="table table-bordered table-vertical-center table-hover "
                style="box-sizing:border-box; border: 1px solid black"
                id="my-table-parent"
              >
                <thead>
                  <tr>
                    <th scope="col" class="stt-col">STT</th>
                    <th scope="col">Tên</th>
                    <th scope="col" v-show="showTable[1].show">
                      Số điện thoại
                    </th>
                    <th scope="col" v-show="showTable[2].show">Địa chỉ</th>
                    <th scope="col" v-show="showTable[3].show">Công việc</th>
                    <th scope="col" v-show="showTable[4].show">Giới tính</th>
                    <th scope="col" v-show="showTable[5].show">Email</th>
                    <th scope="col" v-show="showTable[6].show">Triệu chứng</th>
                    <th scope="col" v-show="showTable[7].show">Ngày/giờ hẹn</th>
                    <th scope="col" class="date-col" v-show="showTable[8].show">
                      Ngày tạo
                    </th>
                    <th scope="col" class="status-col">Trạng thái</th>
                    <th scope="col" class="config-col"></th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(item, index) in listData" :key="index">
                    <td
                      v-bind:title="index * currentPageParent + 1"
                      class="text-center"
                    >
                      {{ index + (currentPageParent - 1) * perPageParent + 1 }}
                    </td>
                    <td v-bind:title="item.name">
                      <strong>{{ item.name }}</strong>
                    </td>
                    <td
                      v-bind:title="item.phone_number"
                      v-show="showTable[1].show"
                    >
                      <strong>{{ item.phone_number }}</strong>
                    </td>
                    <td v-bind:title="item.address" v-show="showTable[2].show">
                      <strong>{{ item.address }}</strong>
                    </td>
                    <td v-bind:title="item.job" v-show="showTable[3].show">
                      <strong>{{ item.job }}</strong>
                    </td>
                    <td v-if="item.gender" v-show="showTable[4].show">
                      <strong>Nam</strong>
                    </td>
                    <td v-else v-show="showTable[4].show">
                      <strong>Nữ</strong>
                    </td>
                    <td v-bind:title="item.email" v-show="showTable[5].show">
                      <strong>{{ item.email }}</strong>
                    </td>
                    <td
                      v-bind:title="item.description"
                      v-show="showTable[6].show"
                    >
                      <strong>{{ item.description }}</strong>
                    </td>
                    <td
                      v-bind:title="getBookTime(item.book_date, item.book_time)"
                      v-show="showTable[7].show"
                    >
                      <strong>{{
                        getBookTime(item.book_date, item.book_time)
                      }}</strong>
                    </td>
                    <td
                      v-bind:title="formatDate(item.createdAt)"
                      v-show="showTable[8].show"
                    >
                      {{ formatDate(item.createdAt) }}
                    </td>
                    <td
                      v-if="item.status === 1"
                      title="Mới"
                      class="text-center"
                    >
                      <span class="badge badge-warning text-white">Mới</span>
                    </td>
                    <td
                      v-else-if="item.status === 2"
                      title="Đã liên hệ"
                      class="text-center"
                    >
                      <span class="badge badge-success">Đã liên hệ</span>
                    </td>
                    <td
                      v-else-if="item.status === 3"
                      title="Đã đến khám"
                      class="text-center"
                    >
                      <span class="badge badge-primary">Đã đến khám</span>
                    </td>
                    <td
                      v-else-if="item.status === 4"
                      title="Liên hệ lại"
                      class="text-center"
                    >
                      <span class="badge badge-info">Liên hệ lại</span>
                    </td>
                    <td v-else title="Ngừng hoạt động" class="text-center">
                      <span class="badge badge-danger">Huỷ</span>
                    </td>
                    <td>
                      <v-icon
                        small
                        class="mr-2 text-success"
                        @click="editItem(item.id)"
                        v-b-tooltip
                        title="Chỉnh sửa"
                        >mdi-pencil</v-icon
                      >
                      <v-icon
                        small
                        class="mr-2 text-danger"
                        @click="removeAppointment(item.id)"
                        v-b-tooltip
                        title="Xoá "
                        >mdi-delete</v-icon
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <div class="float-left">
                  <span>
                    Hiển thị {{ listData.length }} trên tổng số
                    {{ perPageParent }}
                  </span>
                </div>
                <b-pagination
                  class="float-right"
                  v-model="currentPageParent"
                  :total-rows="totalRowsParent"
                  :per-page="perPageParent"
                  aria-controls="my-table-parent"
                  @change="pagingTableParent"
                ></b-pagination>
              </div>
            </div>
          </template>
        </KTCodePreview>
      </div>
    </div>
    <ValidationObserver ref="observer">
      <b-modal
        ref="my-modal-children"
        size="lg"
        hide-footer
        v-bind:title="this.title"
        ignore-enforce-focus-selector=".ignore-input-1"
      >
        <v-form ref="form">
          <div class="mb-4">
            <div class="row">
              <ValidationProvider
                name="Đặt lịch"
                rules="required|min:4"
                class="col-md-12"
              >
                <b-form-group id="fieldset-1" slot-scope="{ valid, errors }">
                  <label><strong>Tên:</strong></label>
                  <b-form-input
                    id="input-1"
                    v-model="appointment.name"
                    size="sm"
                    required
                    trim
                    :state="errors[0] ? false : valid ? true : null"
                  ></b-form-input>
                  <b-form-invalid-feedback>
                    {{ errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
              <b-form-group class="col-md-12 mb-3">
                <label><strong>Trạng thái:</strong></label>
                <b-form-radio-group
                  id="radio-group-2"
                  v-model="appointment.isActived"
                  name="radio-sub-component"
                  @change="changeAllStatusChild"
                >
                  <b-form-radio name="some-radios" value="true"
                    >Hoạt động</b-form-radio
                  >
                  <b-form-radio name="some-radios" value="false"
                    >Ngừng hoạt động</b-form-radio
                  >
                </b-form-radio-group>
                <hr class="pb-0 mb-0" />
              </b-form-group>
              <div class="col-md-12">
                <label><strong>Danh sách Đặt lịch con:</strong> </label>
                <button
                  type="button"
                  class="btn btn-primary btn-sm my-2 float-right"
                  v-b-tooltip.hover="'Thêm nhanh Đặt lịch con'"
                  id="popover-reactive-1"
                  ref="button"
                >
                  <i class="flaticon2-plus-1"></i>
                </button>

                <a
                  style="margin-right: 10px; font-weight: 600; width:150px"
                  class="btn btn-warning btn-sm my-2 float-right"
                  href="#/danh-muc-con"
                >
                  <i style="font-size: 1em" class="flaticon2-list-2"></i>
                  Đặt lịch con
                </a>

                <b-popover
                  target="popover-reactive-1"
                  triggers="click"
                  :show.sync="popoverShow"
                  placement="auto"
                  container="my-container"
                  ref="popover"
                  @show="onShow"
                  @shown="onShown"
                  @hidden="onHidden"
                >
                  <template v-slot:title>
                    <b-button @click="onClose" class="close" aria-label="Close">
                      <span class="d-inline-block" aria-hidden="true"
                        >&times;</span
                      >
                    </b-button>
                    Thêm Đặt lịch con
                  </template>

                  <div>
                    <b-form-group
                      label="Tên"
                      label-for="popover-input-1"
                      label-cols="3"
                      :state="input1state"
                      class="mb-1"
                      description="Nhập tên"
                      invalid-feedback="Trường này không được trống"
                    >
                      <b-form-input
                        class="ignore-input-1"
                        ref="input1"
                        id="popover-input-1"
                        v-model="input1"
                        :state="input1state"
                        size="sm"
                      ></b-form-input>
                    </b-form-group>
                    <b-button
                      @click="onClose"
                      size="sm"
                      class="mr-2"
                      variant="danger"
                      >Huỷ</b-button
                    >
                    <b-button @click="onOk" size="sm" variant="primary"
                      >Tạo mới</b-button
                    >
                  </div>
                </b-popover>

                <b-table
                  hover
                  bordered
                  small
                  responsive
                  :items="itemsChild"
                  :fields="fieldsChild"
                  :per-page="perPageChild"
                  :current-page="currentPageChild"
                >
                  <template v-slot:cell(isActived)="row">
                    <span v-if="row.value === true" class="badge badge-success"
                      >Hoạt động</span
                    >
                    <span v-else class="badge badge-danger"
                      >Ngừng hoạt động</span
                    >
                  </template>
                </b-table>
                <template>
                  <div
                    class="text-center col-md-12 text-primary my-2"
                    v-show="itemsChild.length <= 0"
                  >
                    <p>Không có Đặt lịch con</p>
                  </div>
                </template>
                <b-pagination
                  class="float-right"
                  v-model="currentPageChild"
                  :total-rows="totalRows"
                  :per-page="perPageChild"
                  aria-controls="my-table"
                ></b-pagination>
              </div>
            </div>
          </div>
          <div class="row">
            <b-button
              style="fontWeight: 600; width:100px"
              variant="primary"
              size="sm"
              @click="updateAppointment()"
              class="ml-3"
              v-show="update"
              ref="kt_login_signin_submit"
            >
              Cập nhật</b-button
            >
            <b-button
              style="margin-left: 10px; font-weight: 600; width:100px"
              variant="secondary"
              size="sm"
              @click="hideModalChildren"
              >Huỷ</b-button
            >
          </div>
        </v-form>
      </b-modal>
    </ValidationObserver>
    <ValidationObserver ref="observer">
      <b-modal size="lg" ref="my-modal" hide-footer v-bind:title="this.title">
        <v-form ref="form">
          <div class="mb-4">
            <div class="row">
              <div class="col-md-6">
                <ValidationProvider name="Tên" rules="required|min:4">
                  <b-form-group
                    id="fieldset-1"
                    label="Tên"
                    label-for="input-1"
                    slot-scope="{ valid, errors }"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="appointment.name"
                      size="sm"
                      required
                      trim
                      :state="errors[0] ? false : valid ? true : null"
                    ></b-form-input>
                    <b-form-invalid-feedback>
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </ValidationProvider>
              </div>
              <div class="col-md-6">
                <ValidationProvider name="email" rules="email">
                  <b-form-group
                    label="Email"
                    label-for="input-1"
                    slot-scope="{ valid, errors }"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="appointment.email"
                      size="sm"
                      required
                      trim
                      :state="errors[0] ? false : valid ? true : null"
                    ></b-form-input>
                    <b-form-invalid-feedback>
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </ValidationProvider>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <ValidationProvider name="phone_number" rules="max:11">
                  <b-form-group
                    label="Số điện thoại"
                    label-for="input-1"
                    slot-scope="{ valid, errors }"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="appointment.phone_number"
                      size="sm"
                      required
                      trim
                      :state="errors[0] ? false : valid ? true : null"
                    ></b-form-input>
                    <b-form-invalid-feedback>
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </ValidationProvider>
              </div>
              <div class="col-md-6">
                <b-row>
                  <b-col sm="4">
                    <ValidationProvider name="gender" rules="">
                      <b-form-group
                        label="Giới tính"
                        label-for="input-1"
                        slot-scope="{ valid, errors }"
                      >
                        <b-form-select
                          size="sm"
                          trim
                          v-model="appointment.gender"
                          :state="errors[0] ? false : valid ? true : null"
                        >
                          <b-form-select-option :value="null"
                            >Chọn</b-form-select-option
                          >
                          <b-form-select-option value="1"
                            >Nam</b-form-select-option
                          >
                          <b-form-select-option value="2"
                            >Nữ</b-form-select-option
                          >
                        </b-form-select>
                        <!-- <b-form-input
                      id="input-1"
                      v-model="appointment.gender"
                      size="sm"
                      required
                      trim
                      :state="errors[0] ? false : valid ? true : null"
                    ></b-form-input> -->
                        <b-form-invalid-feedback>
                          {{ errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                  <b-col sm="8"
                    ><ValidationProvider name="birthday" rules="">
                      <b-form-group
                        label="Ngày sinh"
                        label-for="input-1"
                        slot-scope="{ valid, errors }"
                      >
                        <b-form-datepicker
                          placeholder="Ngày"
                          size="sm"
                          trim
                          v-model="appointment.birthday"
                          :state="errors[0] ? false : valid ? true : null"
                          reset-button
                        ></b-form-datepicker>

                        <b-form-invalid-feedback>
                          {{ errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                </b-row>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <ValidationProvider name="job" rules="max:11">
                  <b-form-group
                    label="Công việc"
                    label-for="input-1"
                    slot-scope="{ valid, errors }"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="appointment.job"
                      size="sm"
                      required
                      trim
                      :state="errors[0] ? false : valid ? true : null"
                    ></b-form-input>
                    <b-form-invalid-feedback>
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </ValidationProvider>
              </div>
              <div class="col-md-6">
                <ValidationProvider name="address" rules="max:11">
                  <b-form-group
                    label="Địa chỉ"
                    label-for="input-1"
                    slot-scope="{ valid, errors }"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="appointment.address"
                      size="sm"
                      required
                      trim
                      :state="errors[0] ? false : valid ? true : null"
                    ></b-form-input>
                    <b-form-invalid-feedback>
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </ValidationProvider>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <ValidationProvider name="description" rules="">
                  <b-form-group
                    label="Triệu chứng"
                    label-for="input-1"
                    slot-scope="{ valid, errors }"
                  >
                    <b-form-textarea
                      id="input-1"
                      v-model="appointment.description"
                      size="sm"
                      required
                      trim
                      rows="6"
                      :state="errors[0] ? false : valid ? true : null"
                    ></b-form-textarea>
                    <b-form-invalid-feedback>
                      {{ errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </ValidationProvider>
              </div>
              <div class="col-md-6">
                <b-row>
                  <b-col sm="4">
                    <ValidationProvider name="description" rules="">
                      <b-form-group
                        label="Giờ tới"
                        label-for="input-1"
                        slot-scope="{ valid, errors }"
                      >
                        <b-form-timepicker
                          placeholder="Giờ"
                          v-model="appointment.book_time"
                          size="sm"
                          locale="vi"
                          :state="errors[0] ? false : valid ? true : null"
                        ></b-form-timepicker>
                        <!-- <b-form-textarea
                      id="input-1"
                      v-model="appointment.description"
                      size="sm"
                      required
                      trim
                      rows="3"
                      :state="errors[0] ? false : valid ? true : null"
                    ></b-form-textarea> -->
                        <b-form-invalid-feedback>
                          {{ errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                  <b-col sm="8">
                    <ValidationProvider name="book_date" rules="">
                      <b-form-group
                        label="Ngày đến"
                        label-for="input-1"
                        slot-scope="{ valid, errors }"
                      >
                        <b-form-datepicker
                          placeholder="Ngày"
                          size="sm"
                          trim
                          v-model="appointment.book_date"
                          :state="errors[0] ? false : valid ? true : null"
                          reset-button
                        ></b-form-datepicker>

                        <b-form-invalid-feedback>
                          {{ errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col sm="12">
                    <ValidationProvider name="status" rules="">
                      <b-form-group
                        label="Trạng thái"
                        label-for="input-1"
                        slot-scope="{ valid, errors }"
                      >
                        <b-form-select
                          v-model="appointment.status"
                          size="sm"
                          trim
                          :state="errors[0] ? false : valid ? true : null"
                        >
                          <b-form-select-option :value="null"
                            >Chọn trạng thái</b-form-select-option
                          >
                          <b-form-select-option value="1"
                            >Mới</b-form-select-option
                          >
                          <b-form-select-option value="2"
                            >Đã liên hệ</b-form-select-option
                          >
                          <b-form-select-option value="3"
                            >Đã đến khám</b-form-select-option
                          >
                          <b-form-select-option value="4"
                            >Liên hệ lại</b-form-select-option
                          >
                          <b-form-select-option value="5"
                            >Huỷ</b-form-select-option
                          >
                        </b-form-select>
                        <b-form-invalid-feedback>
                          {{ errors[0] }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                </b-row>
              </div>
            </div>
          </div>
          <div class="row">
            <b-button
              style="fontWeight: 600; width:100px"
              variant="primary"
              size="sm"
              @click="addAppointment()"
              class="ml-3"
              v-show="create"
              ref="kt_login_signin_submit"
              >Tạo mới</b-button
            >
            <b-button
              style="fontWeight: 600; width:100px"
              variant="primary"
              size="sm"
              @click="updateAppointment()"
              class="ml-3"
              v-show="update"
              ref="kt_login_signin_submit"
            >
              Cập nhật</b-button
            >
            <b-button
              style="margin-left: 10px; font-weight: 600; width:100px"
              variant="secondary"
              size="sm"
              @click="hideModal"
              >Trở về</b-button
            >
          </div>
        </v-form>
      </b-modal>
    </ValidationObserver>
  </div>
</template>
<style>
.stt-col {
  width: 3%;
}
.date-col {
  width: 14%;
}
.status-col {
  width: 10%;
}
.config-col {
  width: 8%;
}
table thead {
  text-align: center;
}
table tbody td {
  display: inline-block;
  display: table-cell;
  box-sizing: border-box;
}
.select {
  text-align-last: center;
}
.sub-col {
  width: 11%;
}
.search-area .form-group {
  margin-bottom: 0px;
}
.search-area .search-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-toggle::after {
  display: none;
}
#select-1 {
  box-shadow: none;
  border-radius: 0.28rem;
  border: 1px solid #e5eaee;
  color: #bcb5cf;
}
#select-1 option {
  color: black;
}
</style>
<script>
import KTCodePreview from "@/view/content/CodePreview.vue";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
var moment = require("moment");
import axios from "axios";
import { extend } from "vee-validate";
import { required } from "vee-validate/dist/rules";


extend("min", {
  validate(value, { length }) {
    return value.length >= length;
  },
  params: ["length"],
  message: "{_field_} phải có ít nhất {length} kí tự"
});
extend("required", {
  ...required,
  message: "{_field_} không được để trống"
});
export default {
  data() {
    return {

      Toast: "",
      listData: [],
      listDataSearch: [],
      listDateFiltered: [],
      appointment: {
        id: "",
        name: "",
        email: "",
        phone_number: "",
        status: null,
        book_time: "",
        book_date: "",
        description: "",
        gender: null,
        birthday: "",
        job: "",
        address: ""
      },

      title: "",
      create: false,
      update: false,
      selectedSt: null,
      fieldsChild: [
        { key: "name", label: "Tên Đặt lịch con", sortable: true },
        {
          key: "isActived",
          label: "Trạng thái",
          class: "text-center",
          sortable: true
        },
        {
          key: "createdAt",
          label: "Ngày tạo",
          sortable: true,
          class: "text-center",
          formatter: value => {
            return moment(value).format("DD-MM-YYYY hh:mm");
          }
        }
      ],
      itemsChild: [],
      childNamePop: "",
      input1state: null,
      popoverShow: false,
      input1: "",
      perPageChild: 7,
      perPageParent: 5,
      currentPageChild: 1,
      currentPageParent: 1,
      search: {
        name: "",
        date: ""
      },
      showTable: [
        { text: "Tên", value: 1, show: true, disabled: true },
        { text: "Số điện thoại", value: 2, show: true, disabled: false },
        { text: "Địa chỉ", value: 3, show: true, disabled: false },
        { text: "Công việc", value: 4, show: true, disabled: false },
        { text: "Giới tính", value: 5, show: true, disabled: false },
        { text: "Email", value: 6, show: true, disabled: false },
        { text: "Triệu chứng", value: 7, show: true, disabled: false },
        { text: "Ngày/giờ hẹn", value: 8, show: true, disabled: false },
        { text: "Ngày tạo", value: 9, show: false, disabled: false },
        { text: "Trạng thái", value: 10, show: true, disabled: true }
      ],
      selShowTable: [1, 2, 3, 4, 5, 6, 7, 8, 10]
    };
  },
  components: {
    KTCodePreview
  },
  computed: {
    state() {
      return this.appointment.name.length >= 4 ? true : false;
    },
    currentDateDisplay() {
      return moment(new Date()).format("YYYY-MM-DD");
    },
    invalidName() {
      if (this.appointment.name.length > 4) {
        return "";
      } else if (this.appointment.name.length > 0) {
        return "Đặt lịch phải có ít nhất 4 ký tự";
      } else {
        return "Vui lòng điền Đặt lịch";
      }
    },
    totalRows() {
      return this.itemsChild.length;
    },
    totalRowsParent() {
      return this.listDateFiltered.length;
    }
  },
  created() {
    this.Toast = this.showMixinSweetAlert();
    this.loadAppointment();
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: "Đặt lịch" }]);
  },
  watch: {
    input1(val) {
      if (val) {
        this.input1state = true;
      }
    }
  },
  methods: {
    showMixinSweetAlert() {
      return Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: toast => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        }
      });
    },
    loadAppointment() {
      const service = axios.create({
          // baseURL: "http://34.87.163.246/kv-be/v1/api",
          baseURL: "http://api.khopviet.com/api",
          // baseURL: "http://localhost:3000/api",
          // baseURL: "http://52.221.192.138/kv-be/v1/api",
          headers: {
              "Access-Control-Allow-Origin": "*",
              "Access-Control-Allow-Methods": "*",
              "Content-Type": "application/json",
              "Cache-Control": "no-cache, no-store, must-revalidate, post-check=0, pre-check=0",
              "Pragma": "no-cache",
              "Expires": "0",
          }
      });
      let url = process.env.VUE_APP_BASE_URL + "appointments";
      service.get(url).then(rs => {
        if (rs.data.status) {
          this.listData = rs.data.data;
          this.listDataSearch = JSON.parse(JSON.stringify(rs.data.data));
          this.listDateFiltered = JSON.parse(JSON.stringify(rs.data.data));
          this.listData = this.listData.slice(
            (this.currentPageParent - 1) * this.perPageParent,
            this.currentPageParent * this.perPageParent
          );
        }
      });
    },
    addItem() {
      this.appointment = {
        id: "",
        name: "",
        email: "",
        phone_number: "",
        status: null,
        book_time: "",
        book_date: "",
        description: "",
        gender: null,
        birthday: "",
        job: "",
        address: ""
      };
      this.title = "Thêm mới Đặt lịch";
      this.create = true;
      this.showModal();
    },
    async editItem(id) {
      this.title = "Sửa Đặt lịch Con";
      this.create = false
      this.update = true;
      let appointmentE = await this.getAppointmentById(id).catch(() => {
        this.Toast.fire({
          icon: "error",
          title: "Có lỗi trong quá trình xử lý"
        });
      });
      if (appointmentE != null) {
        this.appointment = appointmentE;
        this.showModal();
      }

      // this.title = "Sửa Đặt lịch";
      // this.create = false;
      // this.update = true;
      // let url = process.env.VUE_APP_BASE_URL + "appointments";
      // axios
      //   .get(url, {
      //     params: {
      //       id
      //     }
      //   })
      //   .then(rs => {
      //     if (rs.data.status === 1) {
      //       this.appointment = rs.data.data[0];
      //     }
      //   });
      // this.showModal();
    },
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
      this.create = false;
    },
    addAppointment() {
      let appointment = this.appointment;
      appointment.isActived = appointment.isActived === "true" ? true : false;
      let url = process.env.VUE_APP_BASE_URL + "appointments";
      axios.post(url, appointment).then(rs => {
        if (rs.data.status) {
          this.loadAppointment();
          this.hideModal();
          this.Toast.fire({
            icon: "success",
            title: rs.data.message
          });
        } else {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
        }
      });
    },
    async updateAppointment() {
      let url = process.env.VUE_APP_BASE_URL + "appointments";
      await axios.put(url, this.appointment).then(rs => {
        if (rs.data.status) {
          this.loadAppointment();
          this.appointment = rs.data.data;
          this.toastSuccess("Cập nhật", 1);
        } else {
          this.toastError();
        }
      });
      if (this.itemsChild.length > 0) {
        await this.updateChildCate().then(rs => {
          if (rs.data.status !== 1) {
            this.toastError();
          }
        });
      }
    },
    updateChildCate() {
      let childs = {
        data: this.itemsChild
      };
      let url = process.env.VUE_APP_BASE_URL + "appointments/childs";
      return axios.put(url, childs);
    },
    removeAppointment(id) {
      Swal.fire({
        title: "Bạn có chắc muốn xoá?",
        text: "Dữ liệu khi xoá sẽ không thể khôi phục!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Đồng ý",
        cancelButtonText: "Huỷ"
      }).then(result => {
        if (result.value) {
          let url = process.env.VUE_APP_BASE_URL + "appointments/" + id;
          axios.delete(url).then(rs => {
            if (rs.data.status) {
              this.loadAppointment();
              this.Toast.fire({
                icon: "success",
                title: "Xoá thành công"
              });
            } else {
              this.Toast.fire({
                icon: "error",
                title: "Có lỗi trong quá trình xử lý"
              });
            }
          });
        }
      });
    },
    formatDate(value) {
      return moment(value).format("DD-MM-YYYY hh:mm");
    },
    hideModalChildren() {
      this.$refs["my-modal-children"].hide();
    },
    showChildren(model) {
      this.title = "Đặt lịch Con";
      this.appointment = model;
      let url = process.env.VUE_APP_BASE_URL + "appointments";
      axios
        .get(url, {
          params: {
            parentId: model.id
          }
        })
        .then(rs => {
          if (rs.data.status) {
            this.itemsChild = [];
            if (rs.data.data.length > 0) {
              this.itemsChild = rs.data.data;
            }
            this.$refs["my-modal-children"].show();
          } else {
            this.Toast.fire({
              icon: "error",
              title: "Có lỗi trong quá trình xử lý"
            });
          }
        });
    },

    onShow() {
      this.input1 = "";
      this.input1state = null;
    },
    onShown() {
      this.focusRef(this.$refs.input1);
    },
    onHidden() {
      // Called just after the popover has finished hiding
      // Bring focus back to the button
      this.focusRef(this.$refs.button);
    },
    focusRef(ref) {
      // Some references may be a component, functional component, or plain element
      // This handles that check before focusing, assuming a `focus()` method exists
      // We do this in a double `$nextTick()` to ensure components have
      // updated & popover positioned first
      this.$nextTick(() => {
        this.$nextTick(() => {
          (ref.$el || ref).focus();
        });
      });
    },
    onClose() {
      this.popoverShow = false;
    },
    onOk() {
      if (!this.input1) {
        this.input1state = false;
      } else {
        let childCate = {
          name: this.input1,
          parentId: this.appointment.id,
          isActived: this.appointment.isActived
        };
        let appointment = {
          id: "",
          name: "",
          isActived: "",
          data: childCate
        };
        let url = process.env.VUE_APP_BASE_URL + "appointments";
        axios.post(url, appointment).then(rs => {
          if (rs.data.status === 1) {
            this.Toast.fire({
              icon: "success",
              title: "Thêm mới thành công"
            });
            this.itemsChild.unshift(rs.data.data);
          } else {
            this.Toast.fire({
              icon: "error",
              title: "Có lỗi trong quá trình xử lý"
            });
          }
        });
      }
    },
    getAppointmentById(id) {
      let url = process.env.VUE_APP_BASE_URL + `appointments/${id}`;
      return axios.get(url).then(rs => {
        if (rs.data.status) {
          return rs.data.data;
        } else {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
          return null;
        }
      });
    },
    getSubCategory(parentId) {
      let url = process.env.VUE_APP_BASE_URL + "appointments";
      return axios
        .get(url, {
          params: {
            parentId: parentId
          }
        })
        .then(rs => {
          if (rs.data.status) {
            return rs.data.data;
          } else {
            this.Toast.fire({
              icon: "error",
              title: "Có lỗi trong quá trình xử lý"
            });
            return null;
          }
        });
    },
    toastSuccess(name, state) {
      if (state === 1) {
        state = "success";
      } else if (state === 0) {
        state = "error";
      } else if (state === 2) {
        state = "warning";
      } else if (state === 3) {
        state = "info";
      } else {
        state = "error";
      }
      this.Toast.fire({
        icon: state,
        title: name + " thành công"
      });
    },
    toastError() {
      this.Toast.fire({
        icon: "error",
        title: "Có lỗi trong quá trình xử lý"
      });
    },
    searchAppointment() {
      this.listData = JSON.parse(JSON.stringify(this.listDataSearch));
      let name = this.search.name || "";
      let date = this.search.date || "";
      let state = !this.selectedSt
        ? ""
        : this.selectedSt === "1"
        ? 1
        : this.selectedSt === "2"
        ? 2
        : this.selectedSt === "3"
        ? 3
        : this.selectedSt === "4"
        ? 4
        : 5;
      this.listData = this.listData.filter(
        x =>
          moment(x.createdAt)
            .format("YYYY-MM-DD")
            .indexOf(date) > -1 &&
          x.name.toLowerCase().indexOf(name.toLowerCase()) > -1 &&
          x.status.toString().indexOf(state) > -1
      );
      this.listDateFiltered = JSON.parse(JSON.stringify(this.listData));
      this.listData = this.listDateFiltered.slice(
        (this.currentPageParent - 1) * this.perPageParent,
        this.currentPageParent * this.perPageParent
      );
    },
    refreshDefault() {
      this.search.name = "";
      this.search.date = "";
      this.selectedSt = null;
      this.loadAppointment();
    },
    pagingTableParent(text) {
      this.currentPageParent = text;
      this.listData = this.listDateFiltered.slice(
        (this.currentPageParent - 1) * this.perPageParent,
        this.currentPageParent * this.perPageParent
      );
    },
    saveStateTable() {
      this.showTable.map(x => {
        x.show = false;
      });
      this.selShowTable.forEach(ele => {
        this.showTable.filter(x => x.value === ele)[0].show = true;
      });
      this.loadAppointment();
    },
    defaultStateTable() {
      this.showTable = [
        { text: "Tên", value: 1, show: true, disabled: true },
        { text: "Số điện thoại", value: 2, show: true, disabled: false },
        { text: "Địa chỉ", value: 3, show: true, disabled: false },
        { text: "Công việc", value: 4, show: true, disabled: false },
        { text: "Giới tính", value: 5, show: true, disabled: false },
        { text: "Email", value: 6, show: true, disabled: false },
        { text: "Triệu chứng", value: 7, show: true, disabled: false },
        { text: "Ngày/giờ hẹn", value: 8, show: true, disabled: false },
        { text: "Ngày tạo", value: 9, show: false, disabled: false },
        { text: "Trạng thái", value: 10, show: true, disabled: true }
      ];
      this.selShowTable = [1, 2, 3, 4, 5, 6, 7, 8, 10];
    },
    getBookTime(date, time) {
      return date + " " + time;
    }
  }
};
</script>
