<template>
  <div v-if="level=== '1'">
    <p class="ml-1">{{ content }}</p>
  </div>
  <div v-else-if="level === '2'">
    <p class="ml-2">{{ content }}</p>
  </div>
  <div v-else-if="level === '3'">
    <p class="ml-3">{{ content }}</p>
  </div>
  <div v-else-if="level === '4'">
    <p class="ml-4">{{ content }}</p>
  </div>
  <div v-else-if="level === '0'">
    <p>{{ content }}</p>
  </div>
</template>
<style>
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-3 {
  margin-left: 30px;
}
.ml-4 {
  margin-left: 40px;
}
</style>
<script>
export default {
  name: "LevelCategory",
  props: {
    /**
     * String title
     */
    content: String,
    /**
     * Set card head size. Eg. md, lg, sm, etc.
     */
    level: String
  }
};
</script>
