<template>
  <tr class="heighRow">
    <td>
      <div class="d-flex justify-content-center">
        <span v-text="orderItem.id" class="text-right"></span>
      </div>
    </td>
    <td class="textWidth">
      <div v-if="edit">
        <input
          v-model="itemChoice.name"
          placeholder="Tên người mua"
          class="w-100 form-control"
          oninvalid="alert('You must fill out the form!');"
        />
        <p style="color: red;" v-if="error">Hãy nhập đầy đủ thông tin</p>
      </div>
      <span v-else>{{orderItem.name}}</span>
    </td>

    <td>{{orderItem.createdAt}}</td>

    <td>
      <template v-if="edit">
        <div class="d-flex justify-content-center">
          <v-icon class="mr-2 text-primary" small @click="checkvalidation()">mdi-check</v-icon>
          <v-icon class="mr-2 text-danger" small @click="cancelEdit()">mdi-close</v-icon>
        </div>
      </template>

      <template v-else>
        <div class="d-flex justify-content-center">
          <v-icon
            small
            class="mr-2 text-primary"
            @click="editItem()"
            v-show="checkPermission('ORDER_SOURCE_UPDATE')"
            v-b-tooltip
            title="Cập nhật"
          >mdi-pencil</v-icon>
          <v-icon
            small
            class="mr-2 text-danger"
            @click="showDeleteAlert"
            v-show="checkPermission('ORDER_SOURCE_DELETE')"
            v-b-tooltip
            title="Xóa"
          >mdi-delete</v-icon>
        </div>
      </template>
    </td>
  </tr>
</template>

<style>
.heighRow {
  height: 60px;
}
.textWidth {
  width: 50%;
}
.input {
  border: 0.5px solid black;
  border-radius: 3px;
  padding-left: 5px;
}
</style>

<script>
import Swal from "sweetalert2";

export default {
  props: ["orderItem", "listFeature"],
  data() {
    return {
      edit: false,
      itemChoice: {
        id: 0,
        code: "",
        name: "",
        createBy: "",
        createDate: ""
      },
      error: false
    };
  },
  updated() {
    this.checkAddRow();
  },
  methods: {
    editItem() {
      this.edit = true;
      this.itemChoice.id = this.orderItem.id;
      this.itemChoice.code = this.orderItem.code;
      this.itemChoice.name = this.orderItem.name;
      this.itemChoice.createBy = this.orderItem.createBy;
      this.itemChoice.createDate = this.orderItem.createDate;
    },
    cancelEdit: function() {
      this.error = false;
      this.edit = false;
      if (this.orderItem.name == "") {
        this.$emit("cancelAdd");
      }
      this.itemChoice.id = 0;
      this.itemChoice.code = 0;
      this.itemChoice.name = "";
      this.itemChoice.createBy = "";
      this.itemChoice.createDate = "";
    },
    updateItem: function() {
      this.edit = false;
      if (this.orderItem.id == 0) {
        this.orderItem.name = this.itemChoice.name;
        this.$emit("addItem", this.itemChoice);
      } else {
        this.$emit("updateItem", this.itemChoice);
      }
      this.itemChoice.code = 0;
      this.itemChoice.name = "";
      this.itemChoice.createBy = "";
      this.itemChoice.createDate = "";
    },
    checkvalidation() {
      if (this.itemChoice.name) {
        this.error = false;
        this.updateItem();
      } else {
        this.error = true;
      }
    },
    showDeleteAlert: function() {
      Swal.fire({
        title: "Xóa nguồn đơn hàng!",
        text: "Bạn có chắc muốn xóa nguồn đơn hàng ?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Xóa",
        cancelButtonText: "Hủy",
        reverseButtons: true
      }).then(result => {
        if (result.dismiss != "cancel") {
          this.$emit("deleteItem", this.orderItem.id);
        }
      });
    },
    checkPermission(condition) {
      if (this.listFeature.indexOf(condition) > -1) {
        return true;
      } else {
        return false;
      }
    },
    checkAddRow() {
      if (this.orderItem.name == "") {
        this.edit = true;
      } else if (this.edit) {
        this.edit = true;
      } else {
        this.edit = false;
      }
    }
  }
};
</script>
