<template>
  <tr class="heighRow">
    <td>
      <div class="d-flex justify-content-center">
        <span v-text="item.id" class="text-right"></span>
      </div>
    </td>
    <td class="textWidth">
      <input
        v-if="edit"
        v-model="itemChoice.name"
        placeholder="Tên nhóm thuộc tính"
        class="w-100 form-control"
      />
      <span v-else>{{item.name}}</span>
    </td>

    <td>
      <template v-if="edit">
        <div class="d-flex justify-content-center">
          <v-icon class="mr-2 text-primary" small @click="updateItem()">mdi-check</v-icon>
          <v-icon class="mr-2 text-danger" small @click="cancelEdit()">mdi-close</v-icon>
        </div>
      </template>

      <template v-else>
        <div class="d-flex justify-content-center">
          <v-icon
            small
            class="mr-2 text-primary"
            @click="editItem()"
            v-show="checkPermission('ORDER_SOURCE_UPDATE')"
            v-b-tooltip
            title="Cập nhật"
          >mdi-pencil</v-icon>
          <v-icon
            small
            class="mr-2 text-danger"
            @click="showDeleteAlert"
            v-show="checkPermission('ORDER_SOURCE_DELETE')"
            v-b-tooltip
            title="Xóa"
          >mdi-delete</v-icon>
        </div>
      </template>
    </td>
  </tr>
</template>

<style>
.heighRow {
  height: 60px;
}
.textWidth {
  width: 50%;
}
.input {
  border: 0.5px solid black;
  border-radius: 3px;
  padding-left: 5px;
}
</style>

<script>
import Swal from "sweetalert2";

export default {
  props: ["item", "listFeature"],
  data() {
    return {
      edit: false,
      itemChoice: {
        id: 0,
        name: ""
      }
    };
  },
  updated() {
    this.checkAddRow();
  },
  methods: {
    editItem() {
      this.edit = true;
      this.itemChoice.id = this.item.id;
      this.itemChoice.name = this.item.name;
    },
    cancelEdit: function() {
      this.edit = false;
      if (this.item.name == "") {
        this.$emit("cancelAdd");
      }
      this.itemChoice.id = 0;
      this.itemChoice.name = "";
    },
    updateItem: function() {
      this.edit = false;
      if (this.item.name == "") {
        this.item.name = this.itemChoice.name;
        this.$emit("addItem", this.itemChoice);
      } else {
        this.$emit("updateItem", this.itemChoice);
      }
      this.itemChoice.name = "";
    },
    showDeleteAlert: function() {
      Swal.fire({
        title: "Xóa nhóm thuộc tính!",
        text: "Bạn có chắc muốn xóa nhóm thuộc tính này không ?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Xóa",
        cancelButtonText: "Hủy",
        reverseButtons: true
      }).then(result => {
        if (result.dismiss != "cancel") {
          this.$emit("deleteItem", this.item.id);
        }
      });
    },
    checkPermission(condition) {
      if (this.listFeature.indexOf(condition) > -1) {
        return true;
      } else {
        return false;
      }
    },
    checkAddRow() {
      if (this.item.name == "") {
        this.edit = true;
      } else if (this.edit) {
        this.edit = true;
      } else {
        this.edit = false;
      }
    }
  }
};
</script>
