<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <KTCodePreview v-bind:title="'Sản Phẩm'">
          <template v-slot:preview>
            <div class="col-md-12 mb-5">
              <!-- title -->
              <div class="row mb-4 px-4">
                <button class="btn btn-primary btn-sm" @click="addItem()">
                  <i class="flaticon2-plus-1"></i>
                  Tạo mới
                </button>
              </div>
              <div
                class="search-area p-4"
                style="background-color:#ecf0f3; border-top-right-radius: 5px; border-top-left-radius: 5px;"
              >
                <div class="row">
                  <div class="search-text px-3">
                    <strong>Tìm Kiếm:</strong>
                  </div>
                  <b-form-group class="col-md-3">
                    <b-form-input
                      id="search-1"
                      v-model="search.name"
                      size="sm"
                      required
                      trim
                      placeholder="Danh mục"
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group class="col-md-3">
                    <b-form-datepicker
                      id="example-datepicker"
                      size="sm"
                      placeholder="Ngày"
                      v-model="search.date"
                      reset-button
                    ></b-form-datepicker>
                  </b-form-group>
                  <b-form-group class="col-md-3">
                    <b-form-select v-model="selectedSt" size="sm" id="select-1">
                      <b-form-select-option :value="null" class="select-default"
                        >Chọn trạng thái</b-form-select-option
                      >
                      <b-form-select-option value="1"
                        >Hoạt động</b-form-select-option
                      >
                      <b-form-select-option value="0"
                        >Không hoạt động</b-form-select-option
                      >
                    </b-form-select>
                  </b-form-group>
                  <b-button
                    size="sm"
                    variant="success"
                    class="mr-2"
                    v-b-tooltip.hover
                    title="Tìm kiếm"
                    @click="searchPromotion"
                  >
                    <i class="flaticon2-search"></i>
                  </b-button>
                  <b-button
                    size="sm"
                    variant="primary"
                    class="mr-2"
                    v-b-tooltip.hover
                    title="Mặc định"
                    @click="refreshDefault"
                  >
                    <i class="flaticon2-reload flaticon2-sm"></i>
                  </b-button>

                  <b-dropdown
                    no-caret
                    size="sm"
                    id="dropdown-header"
                    variant="warning"
                    v-b-tooltip.hover
                    title="Hiển thị cột"
                    right
                  >
                    <template v-slot:button-content>
                      <i class="flaticon2-settings"></i>
                    </template>

                    <b-dropdown-header id="dropdown-header-label">
                      <strong>Cột hiển thị:</strong>
                    </b-dropdown-header>

                    <div class="dropdown-item bg-white text-body">
                      <!-- <b-form-checkbox-group
                        id="checkbox-group-1"
                        v-model="selShowTable"
                        :options="showTable"
                        name="flavour-1"
                        stacked
                      ></b-form-checkbox-group> -->
                    </div>

                    <b-dropdown-divider></b-dropdown-divider>
                    <div class="col-md-12">
                      <b-button
                        block
                        variant="success"
                        size="sm"
                        @click="saveStateTable"
                        >Lưu</b-button
                      >
                      <b-button
                        block
                        variant="primary"
                        size="sm"
                        @click="defaultStateTable"
                        >Mặc định</b-button
                      >
                    </div>
                  </b-dropdown>
                </div>
              </div>
              <b-table
                hover
                bordered
                responsive
                :items="listData"
                :fields="fields"
                :per-page="perPage"
                :current-page="currentPage"
              >
                <template v-slot:cell(index)="row">
                  {{ row.index + 1 }}
                </template>
                <template v-slot:cell(name)="row">
                  <strong>{{ row.value }}</strong>
                </template>
                <template v-slot:cell(image)="row">
                  <b-button
                    variant="warning"
                    size="sm"
                    class="p-1"
                    @click="showModalImage(row.item)"
                  >
                    <i class="flaticon2-image-file pl-2"></i
                  ></b-button>
                </template>
                <template v-slot:cell(isActived)="row">
                  <span v-if="row.value === true" class="badge badge-success"
                    >Hoạt động</span
                  >
                  <span v-else class="badge badge-danger">Ngừng hoạt động</span>
                </template>
                <template v-slot:cell(actions)="row">
                  <v-icon
                    small
                    class="mr-2 text-success"
                    @click="editItem(row.item.id)"
                    v-b-tooltip
                    title="Chỉnh sửa"
                    >mdi-pencil</v-icon
                  >
                  <v-icon
                    small
                    class="mr-2 text-danger"
                    @click="removePromotion(row.item.id)"
                    v-b-tooltip
                    title="Xoá "
                    >mdi-delete</v-icon
                  >
                </template>
              </b-table>
              <template>
                <div
                  class="text-center col-md-12 text-primary my-2"
                  v-show="listData.length <= 0"
                >
                  <p>Không có dữ liệu</p>
                </div>
              </template>
              <b-pagination
                class="float-right"
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                aria-controls="my-table"
              ></b-pagination>
            </div>
          </template>
        </KTCodePreview>
      </div>
    </div>
    <b-modal ref="my-modal" hide-footer v-bind:title="this.title">
      <v-form ref="form" lazy-validation>
        <div class="mb-4">
          <div class="row">
            <b-form-group class="col-md-12">
              <label><strong>Tên khuyến mãi:</strong></label>
              <b-form-input
                v-model="promotion.name"
                size="sm"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group class="col-md-12">
              <label><strong>Ngày áp dụng:</strong></label>
              <b-form-datepicker
                id="example-datepicker"
                size="sm"
                v-model="promotion.applyDate"
                reset-button
              ></b-form-datepicker>
            </b-form-group>
            <b-form-group class="col-md-12">
              <label><strong>Ngày hết hạn:</strong></label>
              <b-form-datepicker
                id="example-datepicker-1"
                size="sm"
                v-model="promotion.expireDate"
                reset-button
              ></b-form-datepicker>
            </b-form-group>
            <b-form-group class="col-md-12">
              <label><strong>Điểm:</strong></label>
              <b-form-input
                v-model="promotion.point"
                size="sm"
                required
                type="number"
              ></b-form-input>
            </b-form-group>
            <b-form-group class="col-md-12">
              <label><strong>Khu vực:</strong></label>
              <multiselect
                v-model="value"
                tag-placeholder="Add this as new tag"
                placeholder="Chọn khu vực"
                label="name"
                track-by="id"
                :options="options"
                :multiple="true"
                :taggable="true"
                @tag="addTag"
                size="sm"
                :searchable="true"
              ></multiselect>
              <!-- <label class="typo__label form__label"
                >Khu vực không được trống</label
              > -->
            </b-form-group>

            <b-form-group label="Trạng thái" class="col-md-12">
              <b-form-radio-group
                id="radio-group-2"
                v-model="promotion.isActived"
                name="radio-sub-component"
              >
                <b-form-radio name="some-radios" value="true"
                  >Hoạt động</b-form-radio
                >
                <b-form-radio name="some-radios" value="false"
                  >Không hoạt động</b-form-radio
                >
              </b-form-radio-group>
            </b-form-group>
          </div>
        </div>
        <div class="row">
          <b-button
            style="fontWeight: 600; width:100px"
            variant="primary"
            size="sm"
            @click="addPromotion()"
            class="ml-3"
            v-show="create"
            ref="kt_login_signin_submit"
            >Tạo mới</b-button
          >
          <b-button
            style="fontWeight: 600; width:100px"
            variant="primary"
            size="sm"
            @click="updatePromotion()"
            class="ml-3"
            v-show="update"
            ref="kt_login_signin_submit"
            >Cập nhật</b-button
          >
          <b-button
            style="margin-left: 10px; font-weight: 600; width:100px"
            variant="secondary"
            size="sm"
            @click="hideModal"
            >Hủy</b-button
          >
        </div>
      </v-form>
    </b-modal>
    <div>
      <b-modal id="modal-image" f hide-footer button-size="sm">
        <template v-slot:modal-header>
          <div class="d-flex ">
            <h5 class="mr-3 pt-1 my-auto">
              Chỉnh sửa ảnh
            </h5>
            <b-button
              variant="primary"
              @click="openFile()"
              size="sm"
              class="mr-2"
            >
              <i class="flaticon2-plus"></i
            ></b-button>
            <b-button
              variant="warning"
              @click="submitFile()"
              size="sm"
              :disabled="imageInput === null"
              class="mr-2"
            >
              <i class="flaticon2-telegram-logo"></i
            ></b-button>
            <b-button
              variant="danger"
              @click="resetFile()"
              size="sm"
              :disabled="imageInput === null && srcImage === null"
            >
              <i class="flaticon2-rubbish-bin-delete-button"></i
            ></b-button>

            <b-form-file
              v-model="imageInput"
              ref="image-input"
              id="image-input"
              class="mb-2"
              accept="image/jpeg, image/png"
              style="display: none"
              v-on:change="handleFileUpload($event)"
            ></b-form-file>
          </div>
          <div class="d-flex flex-row-reverse">
            <a href="javascript:void(0);" @click="$bvModal.hide('modal-image')"
              ><i class="d-flex flaticon2-cross"></i
            ></a>
          </div>
        </template>

        <b-col class="mb-1">
          <b-img
            thumbnail
            fluid
            v-bind:src="srcImage"
            v-if="srcImage !== null"
          ></b-img>
          <div
            v-else
            class="d-flex justify-content-center align-items-center text-center"
            style="height:200px; border:2px dashed #eeecff"
          >
            <i class="flaticon2-file-2" style="font-size: 4rem"></i>
            <p class="text-center">&nbsp;&nbsp;Chưa có hình ảnh</p>
          </div>
        </b-col>
      </b-modal>
    </div>
  </div>
</template>

<script>
import KTCodePreview from "@/view/content/CodePreview.vue";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
var moment = require("moment");
import axios from "axios";
import Multiselect from "vue-multiselect";
export default {
  data() {
    return {
      Toast: "",
      listData: [],
      promotion: {
        id: "",
        name: "",
        applyDate: "",
        expireDate: "",
        point: "",
        isActived: true,
        locations: []
      },
      listLocation: [],
      title: "",
      create: false,
      update: false,
      fields: [
        { key: "index", label: "STT", class: "stt-col" },
        { key: "id", thClass: "d-none", tdClass: "d-none" },
        { key: "name", label: "Chương trình KM", sortable: true },
        { key: "image", label: "Hình ảnh", class: "text-center" },
        {
          key: "applyDate",
          label: "Ngày áp dụng",
          sortable: true,
          class: "text-center",
          formatter: value => {
            return moment(value).format("DD-MM-YYYY hh:mm:ss");
          }
        },
        {
          key: "expireDate",
          label: "Ngày hết hạn",
          sortable: true,
          class: "text-center",
          formatter: value => {
            return moment(value).format("DD-MM-YYYY hh:mm:ss");
          }
        },
        { key: "point", label: "Điểm", sortable: true, class: "text-center" },
        {
          key: "isActived",
          label: "Trạng thái",
          class: "text-center",
          sortable: true
        },
        {
          key: "createdAt",
          label: "Ngày tạo",
          sortable: true,
          class: "text-center",
          formatter: value => {
            return moment(value).format("DD-MM-YYYY hh:mm");
          }
        },
        { key: "actions", label: "" }
      ],
      currentPage: 1,
      perPage: 10,
      search: {
        name: "",
        date: ""
      },
      showTable: [
        { text: "Chương trình KM", value: 1, show: true, disabled: true },
        { text: "Danh mục con", value: 2, show: true, disabled: true },
        { text: "Ngày tạo", value: 3, show: false, disabled: false },
        { text: "Trạng thái", value: 4, show: true, disabled: true }
      ],
      selShowTable: [1, 2, 4],
      selectedSt: null,
      options: [],
      value: [],
      imageInput: null,
      srcImage: null,
      sendImage: true
    };
  },
  components: {
    KTCodePreview,
    Multiselect
  },
  computed: {
    currentDateDisplay() {
      return moment(new Date()).format("YYYY-MM-DD");
    },
    totalRows() {
      return this.listData.length;
    }
  },
  created() {
    this.Toast = this.showMixinSweetAlert();
    this.getPromotion();
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: "Khuyến Mãi" }]);
    this.$nextTick(() => {
      //không biêt hàm này làm gì
    });
  },
  methods: {
    showMixinSweetAlert() {
      return Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: toast => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        }
      });
    },
    getPromotion() {
      this.getPromotionAPI()
        .then(rs => {
          if (rs.status === 1) {
            let parents = rs.data.filter(x => x.parentId === null);
            let childs = rs.data.filter(x => x.parentId !== null);
            let parent = "";
            this.listData = childs.map(x => {
              parent = parents.find(y => y.id === x.parentId);
              if (parent) {
                x.parentName = parent.name;
              }
              return x;
            });
          }
        })
        .catch(() => {
          this.toastError();
        });
    },
    addItem() {
      this.promotion = {
        id: "",
        name: "",
        image: null,
        applyDate: "",
        expireDate: "",
        point: "",
        isActived: true
      };
      this.value = [];
      this.title = "Thêm mới khuyến mãi ";
      this.update = false;
      this.create = true;
      this.getLocation(0)
        .then(rs => {
          this.options = rs.data;
          this.showModal();
        })
        .catch(() => {
          this.toastError();
        });
    },
    editItem(id) {
      this.title = "Cập nhật khuyến mãi";
      this.create = false;
      this.update = true;
      this.getPromotionByIdAPI(id)
        .then(rs => {
          if (rs.status === 1) {
            this.promotion = rs.data[0];
            this.value = rs.data[0].locations;
            this.getLocation(0)
              .then(rs => {
                this.options = rs.data;
                this.showModal();
              })
              .catch(() => {
                this.toastError();
              });
          }
        })
        .catch(() => {
          this.toastError();
        });
    },
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
      this.create = false;
      this.update = false;
    },
    addPromotion() {
      this.promotion.locations = this.value;
      let promotion = {
        data: this.promotion
      };
      let url = process.env.VUE_APP_BASE_URL + "promotions";
      axios.post(url, promotion).then(rs => {
        if (rs.data.status === 1) {
          this.hideModal();
          this.getPromotion();
          this.Toast.fire({
            icon: "success",
            title: "Thêm mới thành công"
          });
        } else {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
        }
      });
    },
    updatePromotion() {
      this.promotion.locations = this.value;
      let promotion = {
        data: this.promotion
      };
      let url = process.env.VUE_APP_BASE_URL + "promotions";
      axios.put(url, promotion).then(rs => {
        if (rs.data.status === 1) {
          this.getPromotion();
          this.Toast.fire({
            icon: "success",
            title: "Cập nhật thành công"
          });
        } else {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
        }
      });
    },
    removePromotion(id) {
      Swal.fire({
        title: "Bạn có chắc muốn xoá?",
        text: "Dữ liệu khi xoá sẽ không thể khôi phục!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Đồng ý",
        cancelButtonText: "Huỷ"
      }).then(result => {
        if (result.value) {
          let url = process.env.VUE_APP_BASE_URL + "promotions/" + id;
          axios.delete(url).then(rs => {
            if (rs.data.status === 1) {
              this.getPromotion();
              this.Toast.fire({
                icon: "success",
                title: "Xoá thành công"
              });
            } else {
              this.Toast.fire({
                icon: "error",
                title: "Có lỗi trong quá trình xử lý"
              });
            }
          });
        }
      });
    },
    getPromotionAPI() {
      let url = process.env.VUE_APP_BASE_URL + "promotions";
      return axios.get(url).then(rs => rs.data);
    },
    getPromotionByIdAPI(id) {
      let url = process.env.VUE_APP_BASE_URL + "promotions";
      return axios
        .get(url, {
          params: {
            id
          }
        })
        .then(rs => rs.data);
    },
    getLocation(id) {
      let url = process.env.VUE_APP_BASE_URL + "locations";
      return axios
        .get(url, {
          params: {
            cityId: id
          }
        })
        .then(rs => rs.data);
    },
    refreshDefault() {
      this.search.name = "";
      this.search.date = "";
      this.selectedSt = null;
      this.getPromotion();
    },
    saveStateTable() {
      this.showTable.map(x => {
        x.show = false;
      });
      this.selShowTable.forEach(ele => {
        this.showTable.filter(x => x.value === ele)[0].show = true;
      });
      this.locaPromotion();
    },
    defaultStateTable() {
      this.showTable = [
        { text: "Tên Danh Mục Cha", value: 1, show: true, disabled: true },
        { text: "Danh mục con", value: 2, show: true, disabled: true },
        { text: "Ngày tạo", value: 3, show: false, disabled: false },
        { text: "Trạng thái", value: 4, show: true, disabled: true }
      ];
      this.selShowTable = [1, 2, 4];
    },
    searchPromotion() {
      // this.listData = JSON.parse(JSON.stringify(this.listDataSearch));
      // let name = this.search.name || "";
      // let date = this.search.date || "";
      // let state = !this.selectedSt
      //   ? ""
      //   : this.selectedSt === "1"
      //   ? "true"
      //   : "false";
      // this.listData = this.listData.filter(
      //   x =>
      //     moment(x.createdAt)
      //       .format("YYYY-MM-DD")
      //       .indexOf(date) > -1 &&
      //     x.name.toLowerCase().indexOf(name.toLowerCase()) > -1 &&
      //     x.isActived.toString().indexOf(state) > -1
      // );
      // this.listDateFiltered = JSON.parse(JSON.stringify(this.listData));
      // this.listData = this.listDateFiltered.slice(
      //   (this.currentPageParent - 1) * this.perPageParent,
      //   this.currentPageParent * this.perPageParent
      // );
    },
    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000)
      };
      this.options.push(tag);
      this.value.push(tag);
    },
    openFile() {
      document.getElementById("image-input").click();
    },
    handleFileUpload(e) {
      this.imageInput = e.target.files;
      this.sendImage = false;
      if (!this.imageInput.length) return;
      this.createImage(this.imageInput[0]);
    },
    createImage(file) {
      var reader = new FileReader();
      var vm = this;
      reader.onload = e => {
        vm.srcImage = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    submitFile() {
      let formData = new FormData();
      let file = this.imageInput;
      formData.append("id", this.promotion.id);
      formData.append("table", "Promotion");
      formData.append("file", file);
      let url = process.env.VUE_APP_BASE_URL + "uploads";
      axios
        .post(url, formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(() => {
          this.sendImage = true;
          this.$refs["image-input"].reset();
          this.toastSuccess("Cập nhật", 1);
          this.getPromotion();
        })
        .catch(() => {
          this.toastError();
        });
    },
    resetFile() {
      if (!this.sendImage) {
        this.$refs["image-input"].reset();
        this.srcImage = null;
      } else {
        Swal.fire({
          title: "Bạn có chắc muốn xoá?",
          text: "Dữ liệu khi xoá sẽ không thể khôi phục!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Đồng ý",
          cancelButtonText: "Huỷ"
        }).then(result => {
          if (result.value) {
            let url =
              process.env.VUE_APP_BASE_URL +
              "uploads/" +
              this.promotion.id +
              "?table=Promotion";
            axios.delete(url).then(rs => {
              if (rs.data.status === 1) {
                this.getPromotion();
                this.Toast.fire({
                  icon: "success",
                  title: "Xoá thành công"
                });
                this.$refs["image-input"].reset();
                this.srcImage = null;
                this.getPromotion();
              } else {
                this.Toast.fire({
                  icon: "error",
                  title: "Có lỗi trong quá trình xử lý"
                });
              }
            });
          }
        });
      }
    },
    showModalImage(item) {
      this.promotion = item;
      this.srcImage = item.image || null;
      this.$bvModal.show("modal-image");
    },
    toastSuccess(name, state) {
      if (state === 1) {
        state = "success";
      } else if (state === 0) {
        state = "error";
      } else if (state === 2) {
        state = "warning";
      } else if (state === 3) {
        state = "info";
      } else {
        state = "error";
      }
      this.Toast.fire({
        icon: state,
        title: name + " thành công"
      });
    },
    toastError() {
      this.Toast.fire({
        icon: "error",
        title: "Có lỗi trong quá trình xử lý"
      });
    }
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.date-col {
  width: 13%;
}
.stt-col {
  width: 3%;
}
.quantity-col {
  width: 3%;
}
.customer-col {
  width: 14%;
}
.status-col {
  width: 10%;
}
.select {
  text-align-last: center;
}
.sub-col {
  width: 11%;
}
.search-area .form-group {
  margin-bottom: 0px;
}
.search-area .search-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-toggle::after {
  display: none;
}
#select-1 {
  box-shadow: none;
  border: 1px solid #e5eaee;
  color: #bcb5cf;
}
#select-1 option {
  color: black;
}
</style>
