<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <KTCodePreview v-bind:title="'Thẻ Tag'">
          <template v-slot:preview>
            <div class="col-md-12 mb-5">
              <!-- title -->
              <div class="mb-2 align-middle">
                <button class="btn btn-primary btn-sm" @click="addItem()">
                  <i class="flaticon2-plus-1"></i>
                  Tạo mới
                </button>
              </div>
              <div
                class="search-area p-4"
                style="background-color:#ecf0f3; border-top-right-radius: 5px; border-top-left-radius: 5px;"
              >
                <div class="row">
                  <div class="search-text px-3">
                    <strong>Tìm Kiếm:</strong>
                  </div>
                  <b-form-group class="col-md-3">
                    <b-form-input
                      id="search-1"
                      v-model="search.name"
                      size="sm"
                      required
                      trim
                      placeholder="Thẻ tag"
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group class="col-md-3">
                    <b-form-datepicker
                      id="example-datepicker"
                      size="sm"
                      placeholder="Ngày"
                      v-model="search.date"
                      reset-button
                    ></b-form-datepicker>
                  </b-form-group>
                  <b-form-group class="col-md-3">
                    <b-form-select v-model="selectedSt" size="sm" id="select-1">
                      <b-form-select-option :value="null" class="select-default"
                        >Chọn trạng thái</b-form-select-option
                      >
                      <b-form-select-option value="1"
                        >Hoạt động</b-form-select-option
                      >
                      <b-form-select-option value="0"
                        >Không hoạt động</b-form-select-option
                      >
                    </b-form-select>
                  </b-form-group>
                  <b-button
                    size="sm"
                    variant="success"
                    class="mr-2"
                    v-b-tooltip.hover
                    title="Tìm kiếm"
                    @click="searchTag"
                  >
                    <i class="flaticon2-search"></i>
                  </b-button>
                  <b-button
                    size="sm"
                    variant="primary"
                    class="mr-2"
                    v-b-tooltip.hover
                    title="Mặc định"
                    @click="refreshDefault"
                  >
                    <i class="flaticon2-reload flaticon2-sm"></i>
                  </b-button>

                  <b-dropdown
                    no-caret
                    size="sm"
                    id="dropdown-header"
                    variant="warning"
                    v-b-tooltip.hover
                    title="Hiển thị cột"
                    right
                  >
                    <template v-slot:button-content>
                      <i class="flaticon2-settings"></i>
                    </template>

                    <b-dropdown-header id="dropdown-header-label">
                      <strong>Cột hiển thị:</strong>
                    </b-dropdown-header>

                    <div class="dropdown-item bg-white text-body">
                      <b-form-checkbox-group
                        id="checkbox-group-1"
                        v-model="selShowTable"
                        :options="showTable"
                        name="flavour-1"
                        stacked
                      ></b-form-checkbox-group>
                      <!-- <b-form-checkbox id="checkbox-1" name="checkbox-1">
                        Tên Thẻ tag cha
                      </b-form-checkbox>
                      <b-form-checkbox id="checkbox-2" name="checkbox-2">
                        Thẻ tag con
                      </b-form-checkbox>
                      <b-form-checkbox id="checkbox-3" name="checkbox-3">
                        Ngày tạo
                      </b-form-checkbox>
                      <b-form-checkbox id="checkbox-4" name="checkbox-4">
                        Trạng thái
                      </b-form-checkbox> -->
                    </div>

                    <b-dropdown-divider></b-dropdown-divider>
                    <div class="col-md-12">
                      <b-button
                        block
                        variant="success"
                        size="sm"
                        @click="saveStateTable"
                        >Lưu</b-button
                      >
                      <b-button
                        block
                        variant="primary"
                        size="sm"
                        @click="defaultStateTable"
                        >Mặc định</b-button
                      >
                    </div>
                  </b-dropdown>
                </div>
              </div>
              <table
                class="table table-bordered table-vertical-center table-hover "
                style="box-sizing:border-box; border: 1px solid black"
                id="my-table-parent"
              >
                <thead>
                  <tr>
                    <th scope="col" class="stt-col">STT</th>
                    <th scope="col">Tên thẻ</th>
                    <th scope="col" class="date-col" v-show="showTable[1].show">
                      Ngày tạo
                    </th>
                    <th
                      scope="col"
                      class="status-col"
                      v-show="showTable[2].show"
                    >
                      Trạng thái
                    </th>
                    <th scope="col" class="config-col"></th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="(item, index) in listData" :key="index">
                    <td
                      v-bind:title="index * currentPageParent + 1"
                      class="text-center"
                    >
                      {{ index + (currentPageParent - 1) * perPageParent + 1 }}
                    </td>
                    <td v-bind:title="item.name">
                      <strong>{{ item.name }}</strong>
                    </td>
                    <td
                      v-bind:title="formatDate(item.createdAt)"
                      v-show="showTable[1].show"
                    >
                      {{ formatDate(item.createdAt) }}
                    </td>
                    <td
                      v-if="item.is_actived"
                      title="Hoạt động"
                      class="text-center"
                      v-show="showTable[2].show"
                    >
                      <span class="badge badge-success">Hoạt động</span>
                    </td>
                    <td v-else title="Ngừng hoạt động" class="text-center">
                      <span class="badge badge-danger">Ngừng hoạt động</span>
                    </td>
                    <td>
                      <v-icon
                        small
                        class="mr-2 text-success"
                        @click="editItem(item.id)"
                        v-b-tooltip
                        title="Chỉnh sửa"
                        >mdi-pencil</v-icon
                      >
                      <v-icon
                        small
                        class="mr-2 text-danger"
                        @click="removeTag(item.id)"
                        v-b-tooltip
                        title="Xoá "
                        >mdi-delete</v-icon
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <div class="float-left">
                  <span>
                    Hiển thị {{ listData.length }} trên tổng số
                    {{ perPageParent }}
                  </span>
                </div>
                <b-pagination
                  class="float-right"
                  v-model="currentPageParent"
                  :total-rows="totalRowsParent"
                  :per-page="perPageParent"
                  aria-controls="my-table-parent"
                  @change="pagingTableParent"
                ></b-pagination>
              </div>
            </div>
          </template>
        </KTCodePreview>
      </div>
    </div>
    <ValidationObserver ref="observer">
      <b-modal
        ref="my-modal-children"
        size="md"
        hide-footer
        v-bind:title="this.title"
        ignore-enforce-focus-selector=".ignore-input-1"
      >
        <v-form ref="form">
          <div class="mb-4">
            <div class="row">
              <ValidationProvider
                name="Thẻ tag"
                rules="required|min:4"
                class="col-md-12"
              >
                <b-form-group id="fieldset-1" slot-scope="{ valid, errors }">
                  <label><strong>Tên Thẻ tag:</strong></label>
                  <b-form-input
                    id="input-1"
                    v-model="tag.name"
                    size="sm"
                    required
                    trim
                    :state="errors[0] ? false : valid ? true : null"
                  ></b-form-input>
                  <b-form-invalid-feedback>
                    {{ errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
              <b-form-group class="col-md-12 mb-3">
                <label><strong>Trạng thái:</strong></label>
                <b-form-radio-group
                  id="radio-group-2"
                  v-model="tag.is_actived"
                  name="radio-sub-component"
                >
                  <b-form-radio name="some-radios" value="true"
                    >Hoạt động</b-form-radio
                  >
                  <b-form-radio name="some-radios" value="false"
                    >Ngừng hoạt động</b-form-radio
                  >
                </b-form-radio-group>
                <!-- <hr class="pb-0 mb-0" /> -->
              </b-form-group>
            </div>
          </div>
          <div class="row">
            <b-button
              style="fontWeight: 600; width:100px"
              variant="primary"
              size="sm"
              @click="updateTag()"
              class="ml-3"
              v-show="update"
              ref="kt_login_signin_submit"
            >
              Cập nhật</b-button
            >
            <b-button
              style="margin-left: 10px; font-weight: 600; width:100px"
              variant="secondary"
              size="sm"
              @click="hideModalChildren"
              >Huỷ</b-button
            >
          </div>
        </v-form>
      </b-modal>
    </ValidationObserver>
    <ValidationObserver ref="observer">
      <b-modal ref="my-modal" hide-footer v-bind:title="this.title">
        <v-form ref="form">
          <div class="mb-4">
            <div class="row">
              <ValidationProvider
                name="Thẻ tag"
                rules="required|min:4"
                class="col-md-12"
              >
                <b-form-group
                  id="fieldset-1"
                  label="Tên Thẻ tag"
                  label-for="input-1"
                  slot-scope="{ valid, errors }"
                >
                  <b-form-input
                    id="input-1"
                    v-model="tag.name"
                    size="sm"
                    required
                    trim
                    :state="errors[0] ? false : valid ? true : null"
                  ></b-form-input>
                  <b-form-invalid-feedback>
                    {{ errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>

              <b-form-group label="Trạng thái" class="col-md-12">
                <b-form-radio-group
                  id="radio-group-2"
                  v-model="tag.is_actived"
                  name="radio-sub-component"
                >
                  <b-form-radio name="some-radios" value="true"
                    >Hoạt động</b-form-radio
                  >
                  <b-form-radio name="some-radios" value="false"
                    >Ngừng hoạt động</b-form-radio
                  >
                </b-form-radio-group>
              </b-form-group>
            </div>
          </div>
          <div class="row">
            <b-button
              style="fontWeight: 600; width:100px"
              variant="primary"
              size="sm"
              @click="addCategory()"
              class="ml-3"
              v-show="create"
              ref="kt_login_signin_submit"
              >Tạo mới</b-button
            >

            <b-button
              style="margin-left: 10px; font-weight: 600; width:100px"
              variant="secondary"
              size="sm"
              @click="hideModal"
              >Trở về</b-button
            >
          </div>
        </v-form>
      </b-modal>
    </ValidationObserver>
  </div>
</template>
<style>
.stt-col {
  width: 3%;
}
.date-col {
  width: 14%;
}
.status-col {
  width: 10%;
}
.config-col {
  width: 8%;
}
table thead {
  text-align: center;
}
table tbody td {
  display: inline-block;
  display: table-cell;
  box-sizing: border-box;
}
.select {
  text-align-last: center;
}
.sub-col {
  width: 11%;
}
.search-area .form-group {
  margin-bottom: 0px;
}
.search-area .search-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-toggle::after {
  display: none;
}
#select-1 {
  box-shadow: none;
  border-radius: 0.28rem;
  border: 1px solid #e5eaee;
  color: #bcb5cf;
}
#select-1 option {
  color: black;
}
</style>
<script>
import KTCodePreview from "@/view/content/CodePreview.vue";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
var moment = require("moment");
import axios from "axios";
import { extend } from "vee-validate";
import { required } from "vee-validate/dist/rules";

extend("min", {
  validate(value, { length }) {
    return value.length >= length;
  },
  params: ["length"],
  message: "{_field_} phải có ít nhất {length} kí tự"
});
extend("required", {
  ...required,
  message: "{_field_} không được để trống"
});
export default {
  data() {
    return {
      Toast: "",
      listData: [],
      listDataSearch: [],
      listDateFiltered: [],
      tag: {
        id: "",
        name: "",
        is_actived: ""
      },

      title: "",
      create: false,
      update: false,
      selectedSt: null,
      fieldsChild: [
        {
          key: "createdAt",
          label: "Ngày tạo",
          sortable: true,
          class: "text-center",
          formatter: value => {
            return moment(value).format("DD-MM-YYYY hh:mm");
          }
        }
      ],
      itemsChild: [],
      childNamePop: "",
      input1state: null,
      popoverShow: false,
      input1: "",
      perPageChild: 7,
      perPageParent: 5,
      currentPageChild: 1,
      currentPageParent: 1,
      oldState: "",
      search: {
        name: "",
        date: ""
      },
      showTable: [
        { text: "Tên thẻ", value: 1, show: true, disabled: true },
        { text: "Ngày tạo", value: 2, show: true, disabled: false },
        { text: "Trạng thái", value: 3, show: true, disabled: false }
      ],
      selShowTable: [1, 2, 3],
      headers: {
        "Access-Control-Allow-Origin": "*",
        "Access-Control-Allow-Methods": "*",
        "Content-Type": "application/json",
        "Cache-Control": "no-cache, no-store, must-revalidate, post-check=0, pre-check=0",
        "Pragma": "no-cache",
        "Expires": "0",
      }      
    };
  },
  components: {
    KTCodePreview
  },
  computed: {
    state() {
      return this.tag.name.length >= 4 ? true : false;
    },
    currentDateDisplay() {
      return moment(new Date()).format("YYYY-MM-DD");
    },
    invalidName() {
      if (this.tag.name.length > 4) {
        return "";
      } else if (this.tag.name.length > 0) {
        return "Thẻ tag phải có ít nhất 4 ký tự";
      } else {
        return "Vui lòng điền Thẻ tag";
      }
    },
    totalRows() {
      return this.itemsChild.length;
    },
    totalRowsParent() {
      return this.listDateFiltered.length;
    }
  },
  created() {
    this.Toast = this.showMixinSweetAlert();
    this.loadTags();
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: "Thẻ tag" }]);
  },
  watch: {
    input1(val) {
      if (val) {
        this.input1state = true;
      }
    }
  },
  methods: {
    showMixinSweetAlert() {
      return Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: toast => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        }
      });
    },
    loadTags() {
      let url = process.env.VUE_APP_BASE_URL + "tags";
      axios.get(url, {headers: this.headers}).then(rs => {
        if (rs.data.status) {
          this.listData = rs.data.data;
          this.listDataSearch = JSON.parse(JSON.stringify(rs.data.data));
          this.listDateFiltered = JSON.parse(JSON.stringify(rs.data.data));
          this.listData = this.listData.slice(
            (this.currentPageParent - 1) * this.perPageParent,
            this.currentPageParent * this.perPageParent
          );
        }
      });
    },
    addItem() {
      this.tag = {
        id: "",
        name: "",
        is_actived: "true"
      };
      this.title = "Thêm mới Thẻ tag";
      this.create = true;
      this.showModal();
    },
    async editItem(id) {
      this.title = "Sửa Thẻ tag Con";
      this.update = true;
      let tagE = await this.getTagById(id).catch(() => {
        this.Toast.fire({
          icon: "error",
          title: "Có lỗi trong quá trình xử lý"
        });
      });
      if (tagE != null) {
        this.tag = tagE;
        this.oldState = tagE.is_actived;
        this.itemsChild = [];
        this.itemsChild = await this.getSubCategory(this.tag.id).catch(() => {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
        });
        if (this.itemsChild != null) {
          this.$refs["my-modal-children"].show();
        }
      }

      // this.title = "Sửa Thẻ tag";
      // this.create = false;
      // this.update = true;
      // let url = process.env.VUE_APP_BASE_URL + "tags";
      // axios
      //   .get(url, {
      //     params: {
      //       id
      //     }
      //   })
      //   .then(rs => {
      //     if (rs.data.status === 1) {
      //       this.tag = rs.data.data[0];
      //     }
      //   });
      // this.showModal();
    },
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
      this.create = false;
    },
    addCategory() {
      let tag = this.tag;
      tag.is_actived = tag.is_actived === "true" ? true : false;
      let url = process.env.VUE_APP_BASE_URL + "tags";
      axios.post(url, tag).then(rs => {
        if (rs.data.status) {
          this.loadTags();
          this.hideModal();
          this.Toast.fire({
            icon: "success",
            title: rs.data.message
          });
        } else {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
        }
      });
    },
    async updateTag() {
      let url = process.env.VUE_APP_BASE_URL + "tags";
      await axios.put(url, this.tag).then(rs => {
        if (rs.data.status) {
          this.loadTags();
          this.tag = rs.data.data;
          this.oldState = this.tag.is_actived;
          this.toastSuccess("Cập nhật", 1);
        } else {
          this.toastError();
        }
      });
    },
    updateChildCate() {
      let childs = {
        data: this.itemsChild
      };
      let url = process.env.VUE_APP_BASE_URL + "tags/childs";
      return axios.put(url, childs);
    },
    removeTag(id) {
      Swal.fire({
        title: "Bạn có chắc muốn xoá?",
        text: "Dữ liệu khi xoá sẽ không thể khôi phục!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Đồng ý",
        cancelButtonText: "Huỷ"
      }).then(result => {
        if (result.value) {
          let url = process.env.VUE_APP_BASE_URL + "tags/" + id;
          axios.delete(url).then(rs => {
            if (rs.data.status) {
              this.loadTags();
              this.Toast.fire({
                icon: "success",
                title: "Xoá thành công"
              });
            } else {
              this.Toast.fire({
                icon: "error",
                title: "Có lỗi trong quá trình xử lý"
              });
            }
          });
        }
      });
    },
    formatDate(value) {
      return moment(value).format("DD-MM-YYYY hh:mm");
    },
    hideModalChildren() {
      this.$refs["my-modal-children"].hide();
    },
    showChildren(model) {
      this.title = "Thẻ tag Con";
      this.tag = model;
      let url = process.env.VUE_APP_BASE_URL + "tags";
      axios
        .get(url, {
          params: {
            parentId: model.id
          }
        })
        .then(rs => {
          if (rs.data.status) {
            this.itemsChild = [];
            if (rs.data.data.length > 0) {
              this.itemsChild = rs.data.data;
            }
            this.$refs["my-modal-children"].show();
          } else {
            this.Toast.fire({
              icon: "error",
              title: "Có lỗi trong quá trình xử lý"
            });
          }
        });
    },

    onShow() {
      this.input1 = "";
      this.input1state = null;
    },
    onShown() {
      this.focusRef(this.$refs.input1);
    },
    onHidden() {
      // Called just after the popover has finished hiding
      // Bring focus back to the button
      this.focusRef(this.$refs.button);
    },
    focusRef(ref) {
      // Some references may be a component, functional component, or plain element
      // This handles that check before focusing, assuming a `focus()` method exists
      // We do this in a double `$nextTick()` to ensure components have
      // updated & popover positioned first
      this.$nextTick(() => {
        this.$nextTick(() => {
          (ref.$el || ref).focus();
        });
      });
    },
    onClose() {
      this.popoverShow = false;
    },
    onOk() {
      if (!this.input1) {
        this.input1state = false;
      } else {
        let childCate = {
          name: this.input1,
          parentId: this.tag.id,
          is_actived: this.tag.is_actived
        };
        let tag = {
          id: "",
          name: "",
          is_actived: "",
          data: childCate
        };
        let url = process.env.VUE_APP_BASE_URL + "tags";
        axios.post(url, tag).then(rs => {
          if (rs.data.status === 1) {
            this.Toast.fire({
              icon: "success",
              title: "Thêm mới thành công"
            });
            this.itemsChild.unshift(rs.data.data);
          } else {
            this.Toast.fire({
              icon: "error",
              title: "Có lỗi trong quá trình xử lý"
            });
          }
        });
      }
    },
    getTagById(id) {
      let url = process.env.VUE_APP_BASE_URL + `tags/${id}`;
      return axios.get(url).then(rs => {
        if (rs.data.status) {
          return rs.data.data;
        } else {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
          return null;
        }
      });
    },
    getSubCategory(parentId) {
      let url = process.env.VUE_APP_BASE_URL + "tags";
      return axios
        .get(url, {
          params: {
            parentId: parentId
          }
        })
        .then(rs => {
          if (rs.data.status) {
            return rs.data.data;
          } else {
            this.Toast.fire({
              icon: "error",
              title: "Có lỗi trong quá trình xử lý"
            });
            return null;
          }
        });
    },
    toastSuccess(name, state) {
      if (state === 1) {
        state = "success";
      } else if (state === 0) {
        state = "error";
      } else if (state === 2) {
        state = "warning";
      } else if (state === 3) {
        state = "info";
      } else {
        state = "error";
      }
      this.Toast.fire({
        icon: state,
        title: name + " thành công"
      });
    },
    toastError() {
      this.Toast.fire({
        icon: "error",
        title: "Có lỗi trong quá trình xử lý"
      });
    },
    searchTag() {
      this.listData = JSON.parse(JSON.stringify(this.listDataSearch));
      let name = this.search.name || "";
      let date = this.search.date || "";
      let state = !this.selectedSt
        ? ""
        : this.selectedSt === "1"
        ? "true"
        : "false";
      this.listData = this.listData.filter(
        x =>
          moment(x.createdAt)
            .format("YYYY-MM-DD")
            .indexOf(date) > -1 &&
          x.name.toLowerCase().indexOf(name.toLowerCase()) > -1 &&
          x.is_actived.toString().indexOf(state) > -1
      );
      this.listDateFiltered = JSON.parse(JSON.stringify(this.listData));
      this.listData = this.listDateFiltered.slice(
        (this.currentPageParent - 1) * this.perPageParent,
        this.currentPageParent * this.perPageParent
      );
    },
    refreshDefault() {
      this.search.name = "";
      this.search.date = "";
      this.selectedSt = null;
      this.loadTags();
    },
    pagingTableParent(text) {
      this.currentPageParent = text;
      this.listData = this.listDateFiltered.slice(
        (this.currentPageParent - 1) * this.perPageParent,
        this.currentPageParent * this.perPageParent
      );
    },
    saveStateTable() {
      this.showTable.map(x => {
        x.show = false;
      });
      this.selShowTable.forEach(ele => {
        this.showTable.filter(x => x.value === ele)[0].show = true;
      });
      this.loadTags();
    },
    defaultStateTable() {
      this.showTable = [
        { text: "Tên thẻ", value: 1, show: true, disabled: true },
        { text: "Ngày tạo", value: 2, show: false, disabled: false },
        { text: "Trạng thái", value: 3, show: true, disabled: true }
      ];
      this.selShowTable = [1, 2, 3];
    }
  }
};
</script>
