<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <KTCodePreview v-bind:title="'Sản Phẩm'">
          <template v-slot:preview>
            <div class="col-md-12 mb-5">
              <!-- title -->
              <div class="row mb-4 px-4">
                <button class="btn btn-primary btn-sm" @click="addItem()">
                  <i class="flaticon2-plus-1"></i>
                  Tạo mới
                </button>
              </div>
              <div
                class="search-area p-4"
                style="background-color:#ecf0f3; border-top-right-radius: 5px; border-top-left-radius: 5px;"
              >
                <div class="row">
                  <div class="search-text px-3">
                    <strong>Tìm Kiếm:</strong>
                  </div>
                  <b-form-group class="col-md-3">
                    <b-form-input
                      id="search-1"
                      v-model="search.name"
                      size="sm"
                      required
                      trim
                      placeholder="Danh mục"
                      type="search"
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group class="col-md-3">
                    <b-form-datepicker
                      id="example-datepicker"
                      size="sm"
                      placeholder="Ngày"
                      v-model="search.date"
                      reset-button
                    ></b-form-datepicker>
                  </b-form-group>
                  <b-form-group class="col-md-3">
                    <b-form-select v-model="selectedSt" size="sm" id="select-1">
                      <b-form-select-option :value="null" class="select-default"
                        >Chọn trạng thái</b-form-select-option
                      >
                      <b-form-select-option value="1"
                        >Hoạt động</b-form-select-option
                      >
                      <b-form-select-option value="0"
                        >Không hoạt động</b-form-select-option
                      >
                    </b-form-select>
                  </b-form-group>
                  <b-button
                    size="sm"
                    variant="success"
                    class="mr-2"
                    v-b-tooltip.hover
                    title="Tìm kiếm"
                    @click="searchCategory"
                  >
                    <i class="flaticon2-search"></i>
                  </b-button>
                  <b-button
                    size="sm"
                    variant="primary"
                    class="mr-2"
                    v-b-tooltip.hover
                    title="Mặc định"
                    @click="refreshDefault"
                  >
                    <i class="flaticon2-reload flaticon2-sm"></i>
                  </b-button>

                  <b-dropdown
                    no-caret
                    size="sm"
                    id="dropdown-header"
                    variant="warning"
                    v-b-tooltip.hover
                    title="Hiển thị cột"
                    right
                  >
                    <template v-slot:button-content>
                      <i class="flaticon2-settings"></i>
                    </template>

                    <b-dropdown-header id="dropdown-header-label">
                      <strong>Cột hiển thị:</strong>
                    </b-dropdown-header>

                    <div class="dropdown-item bg-white text-body">
                      <b-form-checkbox-group
                        id="checkbox-group-1"
                        v-model="selShowTable"
                        :options="showTable"
                        name="flavour-1"
                        stacked
                      ></b-form-checkbox-group>
                    </div>

                    <b-dropdown-divider></b-dropdown-divider>
                    <div class="col-md-12">
                      <b-button
                        block
                        variant="success"
                        size="sm"
                        @click="saveStateTable"
                        >Lưu</b-button
                      >
                      <b-button
                        block
                        variant="primary"
                        size="sm"
                        @click="defaultStateTable"
                        >Mặc định</b-button
                      >
                    </div>
                  </b-dropdown>
                </div>
              </div>
              <b-table
                hover
                bordered
                responsive
                :items="listData"
                :fields="fields"
                :per-page="perPage"
                :current-page="currentPage"
                :filter="search.name"
                @filtered="onFiltered"
              >
                <template v-slot:cell(index)="row">
                  {{ row.index + 1 }}
                </template>
                <template v-slot:cell(name)="row">
                  <strong>{{ row.value }}</strong>
                </template>
                <template v-slot:cell(parentName)="row">
                  <a href="#/trang-chu">{{ row.value }}</a>
                </template>
                <template v-slot:cell(isActived)="row">
                  <span v-if="row.value === true" class="badge badge-success"
                    >Hoạt động</span
                  >
                  <span v-else class="badge badge-danger">Ngừng hoạt động</span>
                </template>
                <template v-slot:cell(actions)="row">
                  <v-icon
                    small
                    class="mr-2 text-success"
                    @click="editItem(row.item.id)"
                    v-b-tooltip
                    title="Chỉnh sửa"
                    >mdi-pencil</v-icon
                  >
                  <v-icon
                    small
                    class="mr-2 text-danger"
                    @click="removeCategory(row.item.id)"
                    v-b-tooltip
                    title="Xoá "
                    >mdi-delete</v-icon
                  >
                </template>
              </b-table>
              <template>
                <div
                  class="text-center col-md-12 text-primary my-2"
                  v-show="listData.length <= 0"
                >
                  <p>Không có dữ liệu</p>
                </div>
              </template>
              <b-pagination
                class="float-right"
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                aria-controls="my-table"
              ></b-pagination>
            </div>
          </template>
        </KTCodePreview>
      </div>
    </div>
    <b-modal ref="my-modal" hide-footer v-bind:title="this.title">
      <v-form ref="form" lazy-validation>
        <div class="mb-4">
          <div class="row">
            <b-form-group
              id="input-group-1"
              label-for="input-1"
              class="col-md-12"
            >
              <label><strong>Tên danh mục con:</strong></label>
              <b-form-input
                id="input-1-sm"
                v-model="category.name"
                size="sm"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-1"
              label-for="input-1"
              class="col-md-12"
            >
              <label><strong>Danh mục cha:</strong></label>
              <b-form-select
                v-model="category.parentId"
                :options="listCate"
                value-field="id"
                text-field="text"
                class="mb-3"
              >
                <template v-slot:first>
                  <b-form-select-option :value="null" disabled
                    >-- Chọn danh mục --</b-form-select-option
                  >
                </template>
              </b-form-select>
            </b-form-group>
            <b-form-group label="Trạng thái" class="col-md-12">
              <b-form-radio-group
                id="radio-group-2"
                v-model="category.isActived"
                name="radio-sub-component"
              >
                <b-form-radio name="some-radios" value="true"
                  >Hoạt động</b-form-radio
                >
                <b-form-radio name="some-radios" value="false"
                  >Không hoạt động</b-form-radio
                >
              </b-form-radio-group>
            </b-form-group>
          </div>
        </div>
        <div class="row">
          <b-button
            style="fontWeight: 600; width:100px"
            variant="primary"
            size="sm"
            @click="addProduct()"
            class="ml-3"
            v-show="create"
            ref="kt_login_signin_submit"
            >Tạo mới</b-button
          >
          <b-button
            style="fontWeight: 600; width:100px"
            variant="primary"
            size="sm"
            @click="updateProduct()"
            class="ml-3"
            v-show="update"
            ref="kt_login_signin_submit"
            >Cập nhật</b-button
          >
          <b-button
            style="margin-left: 10px; font-weight: 600; width:100px"
            variant="secondary"
            size="sm"
            @click="hideModal"
            >Hủy</b-button
          >
        </div>
      </v-form>
    </b-modal>
  </div>
</template>
<style>
.date-col {
  width: 13%;
}
.stt-col {
  width: 3%;
}
.quantity-col {
  width: 3%;
}
.customer-col {
  width: 14%;
}
.status-col {
  width: 10%;
}
.select {
  text-align-last: center;
}
.sub-col {
  width: 11%;
}
.search-area .form-group {
  margin-bottom: 0px;
}
.search-area .search-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-toggle::after {
  display: none;
}
#select-1 {
  box-shadow: none;
  border-radius: 0.28rem;
  border: 1px solid #e5eaee;
  color: #bcb5cf;
}
#select-1 option {
  color: black;
}
</style>
<script>
import KTCodePreview from "@/view/content/CodePreview.vue";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Swal from "sweetalert2";
var moment = require("moment");
import axios from "axios";

export default {
  data() {
    return {
      Toast: "",
      listData: [],
      category: {
        id: "",
        parentId: null,
        name: "",
        unit: "",
        quantityPerUnit: "",
        description: "",
        isActived: ""
      },
      listCate: [],
      title: "",
      create: false,
      update: false,
      fields: [
        { key: "index", label: "STT", class: "stt-col" },
        { key: "id", thClass: "d-none", tdClass: "d-none" },
        { key: "name", label: "Tên danh mục con", sortable: true },
        { key: "parentName", label: "Tên danh mục cha", sortable: true },
        {
          key: "isActived",
          label: "Trạng thái",
          class: "text-center",
          sortable: true
        },
        {
          key: "createdAt",
          label: "Ngày tạo",
          sortable: true,
          class: "text-center",
          formatter: value => {
            return moment(value).format("DD-MM-YYYY hh:mm");
          }
        },
        { key: "actions", label: "" }
      ],
      currentPage: 1,
      perPage: 10,
      search: {
        name: "",
        date: ""
      },
      showTable: [
        { text: "Tên Danh Mục Con", value: 1, show: true, disabled: true },
        { text: "Danh Mục Cha", value: 2, show: true, disabled: true },
        { text: "Danh mục con", value: 3, show: true, disabled: true },
        { text: "Ngày tạo", value: 4, show: false, disabled: false },
        { text: "Trạng thái", value: 5, show: true, disabled: true }
      ],
      selShowTable: [1, 2, 3, 5],
      selectedSt: null
    };
  },
  components: {
    KTCodePreview
  },
  computed: {
    currentDateDisplay() {
      return moment(new Date()).format("YYYY-MM-DD");
    },
    totalRows() {
      return this.listData.length;
    }
  },
  created() {
    this.Toast = this.showMixinSweetAlert();
    this.getCategory();
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: "Danh Mục Con" }]);
    this.$nextTick(() => {
      //không biêt hàm này làm gì
    });
  },
  methods: {
    showMixinSweetAlert() {
      return Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: toast => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        }
      });
    },
    getCategory() {
      this.getCategoryAPI()
        .then(rs => {
          if (rs.status === 1) {
            let parents = rs.data.filter(x => x.parentId === null);
            let childs = rs.data.filter(x => x.parentId !== null);
            let parent = "";
            this.listData = childs.map(x => {
              parent = parents.find(y => y.id === x.parentId);
              if (parent) {
                x.parentName = parent.name;
              }
              return x;
            });
          }
        })
        .catch(() => {
          this.toastError();
        });
    },
    addItem() {
      this.category = {
        id: "",
        name: "",
        parentId: null,
        isActived: true
      };
      this.title = "Thêm mới danh mục con ";
      this.update = false;
      this.create = true;
      this.getParentCateByIdAPI(0)
        .then(rs => {
          if (rs.status === 1) {
            rs.data.forEach(ele => {
              if (ele.isActived) {
                ele.text = ele.name + " - Hoạt động";
              } else {
                ele.text = ele.name + " - Không hoạt động";
              }
            });
            this.listCate = rs.data;
            this.showModal();
          }
        })
        .catch(() => {
          this.toastError();
        });
    },
    editItem(id) {
      this.title = "Cập nhật Danh Mục Con";
      this.create = false;
      this.update = true;
      this.getCateByIdAPI(id)
        .then(rs => {
          if (rs.status === 1) {
            this.category = rs.data[0];
            console.log(this.category);
            this.getParentCateByIdAPI(0).then(rs => {
              if (rs.status === 1) {
                // let parents = rs.data.filter(x => x.parentId === null);
                // parents.forEach(ele => {
                //   ele.label = ele.name;
                //   ele.options = rs.data.filter(x => x.parentId === ele.id);
                // });
                rs.data.forEach(ele => {
                  if (ele.isActived) {
                    ele.text = ele.name + " - Hoạt động";
                  } else {
                    ele.text = ele.name + " - Không hoạt động";
                  }
                });
                this.listCate = rs.data;
                this.showModal();
              }
            });
          }
        })
        .catch(() => {
          this.toastError();
        });
    },
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
      this.create = false;
      this.update = false;
    },
    addProduct() {
      let category = {
        data: this.category
      };
      let url = process.env.VUE_APP_BASE_URL + "categories";
      axios.post(url, category).then(rs => {
        if (rs.data.status === 1) {
          this.hideModal();
          this.getCategory();
          this.Toast.fire({
            icon: "success",
            title: "Thêm mới thành công"
          });
        } else {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
        }
      });
    },
    updateProduct() {
      let category = {
        data: this.category
      };
      let url = process.env.VUE_APP_BASE_URL + "categories";
      axios.put(url, category).then(rs => {
        if (rs.data.status === 1) {
          this.getCategory();
          this.Toast.fire({
            icon: "success",
            title: "Cập nhật thành công"
          });
        } else {
          this.Toast.fire({
            icon: "error",
            title: "Có lỗi trong quá trình xử lý"
          });
        }
      });
    },
    removeCategory(id) {
      Swal.fire({
        title: "Bạn có chắc muốn xoá?",
        text: "Dữ liệu khi xoá sẽ không thể khôi phục!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Đồng ý",
        cancelsButtonText: "Huỷ"
      }).then(result => {
        if (result.value) {
          let url = process.env.VUE_APP_BASE_URL + "categories/" + id;
          axios.delete(url).then(rs => {
            if (rs.data.status === 1) {
              this.getCategory();
              this.Toast.fire({
                icon: "success",
                title: "Xoá thành công"
              });
            } else {
              this.Toast.fire({
                icon: "error",
                title: "Có lỗi trong quá trình xử lý"
              });
            }
          });
        }
      });
    },
    toastSuccess(name, state) {
      if (state === 1) {
        state = "success";
      } else if (state === 0) {
        state = "error";
      } else if (state === 2) {
        state = "warning";
      } else if (state === 3) {
        state = "info";
      } else {
        state = "error";
      }
      this.Toast.fire({
        icon: state,
        title: name + " thành công"
      });
    },
    toastError() {
      this.Toast.fire({
        icon: "error",
        title: "Có lỗi trong quá trình xử lý"
      });
    },
    getCategoryAPI() {
      let url = process.env.VUE_APP_BASE_URL + "categories";
      return axios.get(url).then(rs => rs.data);
    },
    getCateByIdAPI(id) {
      let url = process.env.VUE_APP_BASE_URL + "categories";
      return axios
        .get(url, {
          params: {
            id
          }
        })
        .then(rs => rs.data);
    },
    getParentCateByIdAPI(id) {
      let url = process.env.VUE_APP_BASE_URL + "categories";
      return axios
        .get(url, {
          params: {
            parentId: id
          }
        })
        .then(rs => rs.data);
    },
    refreshDefault() {
      this.search.name = "";
      this.search.date = "";
      this.selectedSt = null;
      this.getCategory();
    },
    saveStateTable() {
      this.showTable.map(x => {
        x.show = false;
      });
      this.selShowTable.forEach(ele => {
        this.showTable.filter(x => x.value === ele)[0].show = true;
      });
      this.locaCategory();
    },
    defaultStateTable() {
      (this.showTable = [
        { text: "Tên Danh Mục Con", value: 1, show: true, disabled: true },
        { text: "Danh Mục Cha", value: 2, show: true, disabled: true },
        { text: "Danh mục con", value: 3, show: true, disabled: true },
        { text: "Ngày tạo", value: 4, show: false, disabled: false },
        { text: "Trạng thái", value: 5, show: true, disabled: true }
      ]),
        (this.selShowTable = [1, 2, 3, 5]);
    },
    searchCategory() {
      this.listData = JSON.parse(JSON.stringify(this.listDataSearch));
      let name = this.search.name || "";
      let date = this.search.date || "";
      let state = !this.selectedSt
        ? ""
        : this.selectedSt === "1"
        ? "true"
        : "false";
      this.listData = this.listData.filter(
        x =>
          moment(x.createdAt)
            .format("YYYY-MM-DD")
            .indexOf(date) > -1 &&
          x.name.toLowerCase().indexOf(name.toLowerCase()) > -1 &&
          x.isActived.toString().indexOf(state) > -1
      );
      this.listDateFiltered = JSON.parse(JSON.stringify(this.listData));
      this.listData = this.listDateFiltered.slice(
        (this.currentPageParent - 1) * this.perPageParent,
        this.currentPageParent * this.perPageParent
      );
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>
