<template>
  <transition name="fade-in-up">
    <router-view></router-view>
  </transition>
</template>

<style lang="scss" scoped>
@import "~bootstrap-vue/dist/bootstrap-vue.css";
</style>
<style>
  @import "https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@2.4.3/dist/style.css";
</style>

<script>
export default {
  components: {
    
  }
};
</script>
