<template>
  <div>
    <b-alert
      show
      variant="light"
      class="alert alert-custom alert-white alert-shadow fade show gutter-b"
    >
      <div class="alert-icon">
        <span class="svg-icon svg-icon-lg">
          <inline-svg src="media/svg/icons/Tools/Compass.svg" />
        </span>
      </div>
      <div class="alert-text">
        <b>Tạo bài viết trên website</b>
      </div>
    </b-alert>

    <div class="row">
      <div class="col-md-12">
        <KTCodePreview v-bind:title="'Introduction to forms and controls'">
          <template v-slot:preview>
            <div>
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-row>
                  <b-col cols="6">
                    <b-form-group id="input-group-1">
                      <label for="input-1"><b>Tiêu đề:</b></label>

                      <b-form-input
                        id="input-1"
                        v-model="form.title"
                        required
                        placeholder="Vui lòng nhập tiêu đề bài viết"
                        @keyup="changeSlug()"
                      ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-7">
                      <label for="input-7"><b>Meta Title:</b></label>
                      <b-form-input
                        id="input-1"
                        v-model="form.meta_title"
                        required
                        placeholder="Vui lòng nhập #keyword tiêu đề bài viết"
                      ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-9">
                      <label for="input-9"><b>Keyword:</b></label>
                      <tags-input
                        element-id="tags"
                        id="tag_input"
                        v-model="form.keyword"
                        placeholder="#keyword"
                      ></tags-input>
                      <!-- <b-form-input
                        id="input-1"
                        v-model="form.keyword"
                        required
                        placeholder="Vui lòng nhập #keyword"
                      ></b-form-input> -->
                    </b-form-group>

                    <b-form-group id="input-group-8">
                      <label for="input-8"><b>Meta Description:</b></label>
                      <b-form-textarea
                        id="textarea"
                        v-model="form.meta_description"
                        placeholder="Vui lòng nhập #keyword nội dung bài viết"
                        rows="3"
                        max-rows="6"
                      ></b-form-textarea>
                    </b-form-group>

                    <b-form-group id="input-group-2">
                      <label for="input-2"><b>Người tạo:</b></label>
                      <b-form-input
                        id="input-2"
                        v-model="form.author_id"
                        required
                        disabled
                        placeholder="Người tạo"
                      ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-3">
                      <label for="input-3"><b>Tên Danh Mục:</b></label>
                      <!-- <b-form-select
                        id="input-3"
                        v-model="form.categorys_id"
                        :options="categories"
                        value-field="id"
                        text-field="name"
                        required
                      ></b-form-select> -->
                      <multiselect
                        v-model="form.categorys_id"
                        tag-placeholder="Add this as new tag"
                        placeholder="Chọn danh mục"
                        label="name"
                        track-by="id"
                        :options="categories"
                        :multiple="true"
                        :taggable="true"
                        @tag="addTag"
                        size="sm"
                        :searchable="true"
                      ></multiselect>
                    </b-form-group>
                    <b-form-group id="input-group-3">
                      <label for="input-3"><b>Slug:</b></label>
                      <b-form-input
                        id="input-2"
                        v-model="form.slug"
                        required
                        placeholder="#slug "
                        disabled
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group id="input-group-5">
                      <label for="input-5"><b>Thẻ tag:</b></label>
                      <multiselect
                        v-model="form.tags_id"
                        tag-placeholder="Add this as new tag"
                        placeholder="Chọn tags"
                        label="name"
                        track-by="id"
                        :options="tags"
                        :multiple="true"
                        :taggable="true"
                        @tag="addTag"
                        size="sm"
                        :searchable="true"
                      ></multiselect>
                      <!-- <b-form-select
                        id="input-3"
                        v-model="form.tags_id"
                        :options="tags"
                        value-field="id"
                        text-field="name"
                        required
                      ></b-form-select> -->
                    </b-form-group>

                    <b-form-group id="input-group-4">
                      <b-form-radio-group
                        id="radio-group-2"
                        v-model="form.is_actived"
                        name="radio-sub-component"
                      >
                        <b-form-radio name="some-radios" value="true"
                          >Hoạt động</b-form-radio
                        >
                        <b-form-radio name="some-radios" value="false"
                          >Ngừng hoạt động</b-form-radio
                        >
                      </b-form-radio-group>
                    </b-form-group>
                  </b-col>
                  <b-col cols="6">
                    <b-form-group
                      id="input-group-6"
                      label="Chỉnh sửa ảnh:"
                      label-for="input-6"
                    >
                      <template>
                        <div class="d-flex ">
                          <b-button
                            variant="primary"
                            @click="openFile()"
                            size="sm"
                            class="mr-2"
                          >
                            <i class="flaticon2-plus"></i
                          ></b-button>
                          <b-button
                            variant="warning"
                            @click="submitFile()"
                            size="sm"
                            :disabled="imageInput === null"
                            v-show="false"
                            class="mr-2"
                          >
                            <i class="flaticon2-telegram-logo"></i
                          ></b-button>
                          <b-button
                            variant="danger"
                            @click="resetFile()"
                            v-show="false"
                            size="sm"
                            :disabled="imageInput === null && srcImage === null"
                          >
                            <i class="flaticon2-rubbish-bin-delete-button"></i
                          ></b-button>

                          <b-form-file
                            v-model="imageInput"
                            ref="image-input"
                            id="image-input"
                            class="mb-2"
                            accept="image/jpeg, image/png"
                            style="display: none"
                            v-on:change="handleFileUpload($event)"
                          ></b-form-file>
                          <b-button
                            v-b-toggle.collapse-2
                            size="sm"
                            variant="warning"
                          >
                            <i class="flaticon-edit"></i>
                          </b-button>
                        </div>
                      </template>
                      <div>
                        <b-collapse id="collapse-2" class="mt-1">
                          <b-card>
                            <b-form-group>
                              <label><b>Alt hình ảnh:</b></label>
                              <b-form-input
                                v-model="form.image_alt"
                                placeholder="Vui lòng alt hình ảnh"
                              ></b-form-input>
                            </b-form-group>
                            <b-form-group id="input-group-1">
                              <label><b>Tiêu đề hình ảnh:</b></label>
                              <b-form-input
                                v-model="form.image_title"
                                placeholder="Vui lòng tiêu đề"
                              ></b-form-input>
                            </b-form-group>
                          </b-card>
                        </b-collapse>
                      </div>
                      <b-row>
                        <b-col class="mt-4 mb-1">
                          <b-img
                            thumbnail
                            fluid
                            v-bind:src="srcImage"
                            v-if="srcImage !== null"
                          ></b-img>
                          <div
                            v-else
                            class="d-flex justify-content-center align-items-center text-center"
                            style="height:200px; border:3px dashed #eeecff"
                          >
                            <i
                              class="flaticon2-file-2"
                              style="font-size: 4rem"
                            ></i>
                            <p class="text-center">
                              &nbsp;&nbsp;Chưa có hình ảnh
                            </p>
                          </div>
                        </b-col>
                      </b-row>
                    </b-form-group>
                  </b-col>
                </b-row>

                <b-form-group id="input-group-4">
                  <label for="input-4"><b>Nội dung:</b></label>
                  <div>
                    <template>
                      <!-- Two-way Data-Binding -->
                      <quill-editor
                        style="min-height:500px;"
                        ref="myQuillEditor"
                        v-model="content"
                        :options="editorOption"
                        @blur="onEditorBlur($event)"
                        @focus="onEditorFocus($event)"
                        @ready="onEditorReady($event)"
                      />
                    </template>
                  </div>
                </b-form-group>

                <div style="margin-top:5%">
                  <b-button type="submit" variant="primary">Cập nhật</b-button>
                  <b-button class="ml-2" type="reset" variant="danger">
                    Reset
                  </b-button>
                  <b-button class="ml-2" type="reset" variant="success">
                    Trở về
                  </b-button>
                </div>
              </b-form>
            </div>
          </template>
        </KTCodePreview>
      </div>
    </div>
  </div>
</template>

<script>
import KTCodePreview from "@/view/content/CodePreview.vue";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import axios from "axios";
import VoerroTagsInput from "@voerro/vue-tagsinput";
import Multiselect from "vue-multiselect";
import Swal from "sweetalert2";
import _ from "lodash";
export default {
  data() {
    return {
      Toast: "",
      form: {
        id: "",
        title: "",
        meta_title: "",
        keyword: [],
        meta_description: "",
        author_id: "Admin",
        categorys_id: "",
        tags_id: "",
        is_actived: "true",
        slug: ""
      },
      keywords: [],
      srcImage: null,
      categories: [],
      tags: [],
      show: true,
      content: "",
      editorOption: {
        // Some Quill options...
      },
      imageInput: null,

      headers: {
        "Access-Control-Allow-Origin": "*",
        "Access-Control-Allow-Methods": "*",
        "Content-Type": "application/json",
        "Cache-Control": "no-cache, no-store, must-revalidate, post-check=0, pre-check=0",
        "Pragma": "no-cache",
        "Expires": "0",
      }
    };
  },
  components: {
    KTCodePreview,
    "tags-input": VoerroTagsInput,
    Multiselect
  },
  created() {
    // console.log(this.$route.params.id);
    this.loadCategories();
    this.loadTags();
    this.Toast = this.showMixinSweetAlert();
    this.getBlogById(this.$route.params.id);
  },
  methods: {
    getBlogById(id) {
      let url = process.env.VUE_APP_BASE_URL + "blogs/" + id;
      axios
        .get(url, { headers: this.headers})
        .then(rs => {
          if (rs.data.status) {
            this.form = rs.data.data;
            let keywords = JSON.parse(this.form.keyword || "[]");
            let words = [];
            keywords.forEach(element => {
              let word = {
                key: element,
                value: element
              };
              words.push(word);
            });

            this.form.keyword = words;
            this.form.categorys_id = this.form.categorys_id.filter(x => {
              x.name = x.name + " (" + x.main_category + ")";
              return x;
            });

            this.form.tags_id = this.form.tags_id;
            this.form.is_actived =
              this.form.is_actived ? "true" : "false";

            this.form.author_id = "Admin";
            this.content = this.form.description;
            this.srcImage = this.form.image || null
          }
        })
        .catch(() => {
        });
    },
    showMixinSweetAlert() {
      return Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: toast => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        }
      });
    },
    onSubmit(evt) {
      evt.preventDefault();

      // let blogs = {
      //   title: this.form.title,
      //   keyword: this.form.keyword,
      //   meta_title: this.form.meta_title,
      //   meta_description: this.form.meta_description,
      //   categorys_id: this.form.categorys_id,
      //   is_actived: this.form.is_actived,
      //   description: this.content,
      //   tags_id: this.form.tags_id
      // };
      let formData = new FormData();
      formData.append("id", parseInt(this.form.id));
      formData.append("title", this.form.title);
      formData.append(
        "keyword",
        JSON.stringify(this.form.keyword.map(x => x.value))
      );
      formData.append("meta_title", this.form.meta_title);
      formData.append("meta_description", this.form.meta_title);
      formData.append(
        "categorys_id",
        JSON.stringify(this.form.categorys_id.map(x => x.id))
      );
      formData.append("is_actived", this.form.is_actived);
      formData.append("description", this.content);
      formData.append("slug", this.form.slug);
      formData.append(
        "tags_id",
        JSON.stringify(this.form.tags_id.map(x => x.id))
      );
      formData.append("image", this.imageInput);
      formData.append("oldImage", this.form.image);
      formData.append("image_alt", this.form.image_alt);
      formData.append("image_title", this.form.image_title);
      this.updateBlog(formData);
      // console.log(this.content);
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.title = "";
      this.form.meta_title = "";
      this.form.keyword = [];
      this.form.meta_description = "";
      this.form.author_id = "";
      this.form.categorys_id = "";
      this.form.tags_id = "";
      this.form.is_actived = "";
      this.form.slug = "";
      this.content = "";
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    // onEditorBlur(quill) {
    //   console.log("editor blur!", quill);
    // },
    // onEditorFocus(quill) {
    //   console.log("editor focus!", quill);
    // },
    // onEditorReady(quill) {
    //   console.log("editor ready!", quill);
    // },
    // onEditorChange({ quill, html, text }) {
    //   console.log("editor change!", quill, html, text);
    //   this.content = html;
    // },
    openFile() {
      document.getElementById("image-input").click();
    },
    handleFileUpload(e) {
      this.imageInput = e.target.files;
      this.sendImage = false;
      if (!this.imageInput.length) return;
      this.createImage(this.imageInput[0]);
    },
    createImage(file) {
      var reader = new FileReader();
      var vm = this;
      reader.onload = e => {
        vm.srcImage = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    updateBlog(data) {
      let url = process.env.VUE_APP_BASE_URL + "blogs";
      axios
        .put(url, data, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(rs => {
          if (rs.data.status) {
            this.Toast.fire({
              icon: "success",
              title: "Chỉnh sửa thành công"
            });
          } else {
            this.Toast.fire({
              icon: "error",
              title: "Có lỗi trong quá trình xử lý"
            });
          }
        });
    },
    loadCategories() {
      let url = process.env.VUE_APP_BASE_URL + "categories";
      axios.get(url).then(rs => {
        if (rs.data.status) {
          this.categories = rs.data.data.filter(x => {
            x.name = x.name + " (" + x.main_category + ")";
            return x;
          });
        }
      });
    },
    loadTags() {
      let url = process.env.VUE_APP_BASE_URL + "tags";
      axios.get(url).then(rs => {
        if (rs.data.status) {
          this.tags = rs.data.data;
        }
      });
    },
    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000)
      };
      this.options.push(tag);
      this.value.push(tag);
    },

    sanitizeTitle(title) {
      var slug = "";
      // Change to lower case
      var titleLower = title.toLowerCase();
      // Letter "e"
      slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
      // Letter "a"
      slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, "a");
      // Letter "i"
      slug = slug.replace(/ì|í|ị|ỉ|ĩ/gi, "i");
      // Letter "y"
      slug = slug.replace(/ỳ|ý|ỵ|ỷ|ỹ/gi, "y");
      // Letter "o"
      slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, "o");
      // Letter "u"
      slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
      // Letter "d"
      slug = slug.replace(/đ/gi, "d");
      // Trim the last whitespace
      slug = slug.replace(/\s*$/g, "");
      // Change whitespace to "-"
      slug = slug.trim();
      slug = slug.replace(/\s+/g, "-");

      return slug;
    },
    changeSlug: _.debounce(function() {
      this.form.slug = this.sanitizeTitle(this.form.title);
    }, 500)
  },
  computed: {
    editor() {
      return this.$refs.myQuillEditor.quill;
    }
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Vue Bootstrap", route: "alert" },
      { title: "Form" }
    ]);
    // console.log("this is current quill instance object", this.editor);
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.ql-container {
  min-height: inherit;
}
.tags-input-wrapper-default {
  padding-left: 1rem !important;
  color: #c6c6d1;
}
.typeahead-badges {
  font-size: 1.5em;
}
.tags-input span {
  font-size: 1em;
}
</style>
